<h2>Editing Objects in Merritt</h2>

  <% if !@group.nil? then %>
  <div class="breadcrumbs"><%= link_to('Merritt', :controller => 'home', :action => 'index') %> &gt;
    <%= link_to("Collection: #{@group.description}", :controller => 'collection', :action => 'index') %> &gt;
    <%= link_to("Help", :controller => 'help', :action => 'index') %> &gt;
    Editing Objects
   </div>
   <% end %>
 
<br />

<p>
If you have submitted an object to Merritt and need to edit either the object itself or the object metadata, you will need resubmit the revised object and metadata, and specify either the local identifier or the primary identifier.
</p> 

  <ul class="help">
    <li><em>Object metadata</em> here refers to the four fields Merritt provides on the <strong>Add Object</strong> screen: title, creator, date and local identifier.  Changes made here will influence search results in Merritt. </li>  
  
    <li>If you originally provided a local identifier for the object, you will be able to edit it by specifying that local identifier on the <strong>Add Object</strong> screen.</li>
    
  <li>If you did not supply a local identifier, or if you are trying to edit the local identifier itself, you will need to display the object, make a note of the primary identifier Merritt assigned to the object, and prepare a batch manifest to submit revisions to the ojbect (steps provided below).</li>

  <li>Merritt will create a new object version as a result of any edits you make, including any edits to object metadata. </li>  

  <li>If you are updating only one file in a multi-file object, be sure to provide copies of all of the unchanged files and repeat any metadata you provided as well.  If you include only the revised file, Merritt will consider that one file to constitute the entirety of the next object version.</li> 
  
  </ul>
  
<h3>Edit with a Batch Manifest: Steps</h3>

<ol class="help">
  <li>Make any changes needed to the object itself.</li> 

  <li>Post the object on a web server.  If the object consists of more than one file, we recommend that you post it in a container (.zip or .tar) file.  If you choose to post all files of a multi-part object individually, you will also need to create and post an object manifest.  </li> 

  <li>Create a batch manifest for the object (even if there is only one object to edit). If the object consists of a single file, you will use the <strong>batch of single files</strong> workflow and format.  If you posted the object to a server in a container file, you will use the <strong>batch of container files</strong> workflow and format.  If you posted both a multi-part object and an object manifest file, you will use the <strong>batch of object manifests</strong> workflow and format. (See <%= link_to("Using a manifest", :controller => 'help', :action => 'manifest_guide') %>).</li> 

  <li>Include any changes to title, creator or date metadata in the batch manifest.  If there are no changes, be sure to include the original correct values.</li> 

  <li>If you did not originally supply a local identifier or are trying to edit the local identifier, display the object in Merritt, make a note of the primary identifier and include it in the batch manifest.</li> 

  <li>If you originally provided a correct local identifier, you will not need to provide a primary identifier, but you will need to provide the correct local identifier again.</li> 

  <li>Go to the <strong>Add Object</strong> screen and add select the option for the type of batch manifest you created.</li> 

</ol>