<h3>Help</h3>
<p>This is an example of some sidebar help.  I hope it works out ok</p>
<p>Sometimes unordered lists are helpful something like this one:</p>
<ul>
  <li>One option</li>
  <li>another option</li>
</ul>
<p>Remember to close all tags with closing tags since I think we had to use xhtml
to be compatible with some of the menu and other code we're using.</p>

<p>Partial files begin with an underscore and have html.erb on the end, for example
  <i>_example.html.erb</i>.</p>

<p>If we put everything in the /app/views/help folder for help you can display
the partial in a page with something like:</p>
<pre>&lt;%= render :partial =&gt;
'/help/example' %&gt;</pre>
<p>(This can be on one line, but is split so it fits in the narrrow column for reading.)</p>

<p>The main styles are in <i>/public/stylesheets/main_styles.css</i>.</p>

<p>Though I've redefined some of the basic html tags with formatting, for things
  used in many contexts I've defined some basic classes
  (these are the style rules starting with a dot).  Classes can be applied to
  any html element by putting class=&quot;<i>classname</i>&quot; in the tag</p>

<p>You may also see some styles with more than one selector separated by spaces
  like <b>.sidebar p</b>.  This style means it will be applied to any
  paragraph element within an element that has the sidebar class.  Spaces in
  a css selector indicate a containment relationship.</p>

<p>fin ;-)</p>
