<div class="grid_12">

<h2>About Merritt</h2>
<p>Merritt is a new cost-effective service that provides the UC community with an easy to use tool to manage, archive, and share their content. Merritt provides significant features for valuable digital objects:</p>
<ul>
<li>permanent storage</li>
<li>access via persistent URLs</li>
<li>tools for long-term management </li>
<li>easy-to-use interface for deposit and updates</li>
</ul>
<p>Merritt is a next generation service from CDL's UC Curation Center UC3 that provides a trustworthy and dependable environment for the long-term management of a range of digital materials including images, videos, datasets, texts, and more. Merritt enables collection managers to take control of their materials and deposit, archive, share, and disseminate information via an easy to use interface or API.  While UC3 will continue to manage content arising from historical partnerships with the UC libraries, the new features of Merritt will allow UC3 to extend the reach of its services to new UC constituencies such as museums, archives, research groups, academic departments, and data centers.</p>

</div>
<div class="grid_4 sidebar">
  <%= render :partial => 'help_sidebar' %><br/>
  
</div>