
<div class="grid_11">

<h2>Glossary</h2>


<dl>

  <dt>Batch:</dt>
    <dd>Digital objects can be submitted into the Merritt DPR in groups, called a <strong>batch</strong>. Batch submissions require a manifest. For more information on manifests, see <a href="manifest_guide.html.erb">Using a manifest</a>.</dd>
  
  <dt>Collection:</dt>
    <dd>The digital objects you submit will be part of one or more collections. Depending on your login permissions, the navigation bar will allow you to view and/or add objects to all of your collections.</dd>
        
  <dt>Completed: </dt>
    <dd>The Submission status is "completed" when all the objects have been processed for ingest. The submission status is independent of job status. Some objects in the submission may not have been successfully deposited in storage (with a job status of "failed") but the entire submission would still have a submission status of "completed." </dd>
 
  <dt>Container:</dt>
    <dd>Digital objects consisting of multiple files can be packaged into a single container file using tar, gzip or zip. Files submitted in these formats will be unpacked and the components stored (and returned) as separate uncompressed files.</dd>

  <dt>Digital object:</dt>
    <dd>Digital objects may be simple, such as a single JPEG or TIFF image file, or complex with multiple digital files. A digital book, for instance, may consist of a digital image file for each page along with a text file transcription. A digital object could be each file, a page (consisting of a set of image and text files) or the entire book, comprising hundreds or thousands of digital files. The entire digital object would be assigned a single identifier, and stored under that identifier in the Merritt Repository. Metadata about the object would describe the entire object. Decisions about the scope of any digital object are left to the depositor.</dd>

  <dt>Description:</dt>
    <dd>See <strong>Electronic Resource Citation</strong>.</dd>

  <dt>Dublin Kernel metadata:</dt> 
    <dd>See Electronic Resource Citation.</dd>

  <dt>Electronic Resource Citation (ERC):</dt>
    <dd>Short, descriptive metadata about a digital object, also known as Dublin Kernel Metadata. (see spec). These metadata will be used to manage digital objects in the repository, and in reports about the collections, so the descriptions should be meaningful. See the Metadata Guide for more information.</dd>
        
  <dt>Failed: </dt>
    <dd>A submission will receive a status of <strong>failed</strong> if:
      <ul>
        <li>A checksum was provided but could not be validated.</li>
        <li>The object was submitted via a manifest but no object was found at the URL provided in the manifest.</li>
      </ul>
    </dd>

  <dt>File:</dt>
    <dd>Single files can be submitted to the repository through the user interface directly, or can be submitted in batches using manifests. For more information on the latter option, see the [Manifest Instructions].</dd>
        
  <dt>ID:</dt> 
    <dd>Identifier. See: Submission ID, Job ID, Local ID, Primary ID</dd>

  <dt>Ingest:</dt>
    <dd>The process of submitting a digital object for storage into the Merritt DPR.</dd>

  <dt>Job ID:</dt>
    <dd>Each digital object that is submitted, whether submitted as a single object or part of a batch submission, receives a Job ID. The Job ID is returned in the email notification, and will track the digital object as it is deposited in the Merritt Repository.</dd>

  <dt>Job Status:</dt> 
    <dd>Each object that is submitted, whether submitted as a single object or part of a batch submission, will receive a job status that will indicate successful or failed deposit into storage. There are four job statuses that will be reported:
      <ul>
        <li><strong>Pending: </strong>This status is assigned when the job is first deposited. The digital object is sent to a queue awaiting deposit into storage. While waiting in the queue, the job status will remain "pending."</li>
        <li><strong>Completed:</strong> Once the object is successfully deposited in storage, the job status is changed to "completed."</li>
				<li><strong>Failed: </strong>If any problem prevents the digital object from being deposited successfully into the storage, the job status will be "failed." There will be more information in the "status message." Please contact UC3 for more information if you encounter this status.</li>
				<li><strong>Deleted: </strong>Digital objects will remain in the queue until they are successfully deposited into storage. When they are safely in storage, they will be deleted from the queue.</li>
      </ul>
    </dd>
            
  <dt>Kernel Metadata:</dt>
    <dd>see Electronic Resource Citation (ERC).</dd>
            
  <dt>Local ID: </dt>
    <dd>Digital objects may have multiple identifiers. We will assign an ARK asprimary identifier when we accept a submission to the Merritt repository. Your digital objects may have other identifiers in your systems, and these "local IDs" can be included with the metadata accompanying the digital objects. You can continue to track digital objects using these "local IDs".  See Primary ID.</dd>
            
  <dt>Manifest:</dt> 
		<dd>A method for submitting multiple files or objects. See [Manifest Instructions] for more information.</dd>

  <dt>My Profile:</dt>
    	<dd>see User Profile</dd>

  <dt>Object Lookup:</dt> 
    	<dd>This is a basic search feature for all digital objects in the Merritt repository. In addition to the Electronic Resource Citation metadata, this lookup will search the full-text (text, xml, pdf) of any object in the Merritt repository.</dd> 

	<dt>Object Manifest:</dt>
    	<dd> see Manifest</dd>

	<dt>Primary ID: </dt>
    	<dd>We will assign an ARK as primary identifier for any digital object submitted to the Merritt repository. These identifiers are durable, unique and in wide use. We recommend that you update your records to include the primary identifiers for your digital objects. Digital objects will also be retrievable using Local IDs (see Local ID).</dd>
        
  <dt>Queued: </dt>
    	<dd>This status is assigned when digital objects are first submitted. They are put in a queue before being sent to storage to allow for an orderly process. </dd>

	<dt>Single object: </dt>
    	<dd>A single digital object may consist of one or more individual digital files. See Digital Object. Single objects may be submitted to the Merritt DPR via the user interface directly, or using manifests. See [Manifest Instructions] for more information.</dd>

	<dt>Status: </dt>
    	<dd>See Job Status and Submission Status for more specific information.</dd>

	<dt>Submission ID: </dt>
    	<dd>Every submission to Merritt is assigned an identifier called a Submission ID. This ID is returned in response to the initial submission.</dd> 

	<dt>Submission Status:</dt> 
    	<dd>The Submission Status indicates the state of the entire submission, whether a single object or a batch submission.</dd>


	<dt>Version: </dt>
    	<dd>Digital objects may change through corrections, improved digitization, or other reasons. These changed versions can be resubmitted to Merritt and stored along with other versions of the same object. Changed metadata can also be resubmitted, and changing metadata would be considered a new version of the digital object. </dd>

</dl>



</div>
<div class="grid_1">&nbsp;</div>
<div class="grid_4 sidebar">
  
  <%= render :partial => 'help_sidebar' %>
  
</div>

