<div class="grid_12">

<h2>Merritt Help</h2>

<p>You can contact UC3 support staff if you have any questions or problems. You can send email directly to uc3help@ucop.edu or fill out the <a href="http://www.cdlib.org/services/uc3/contact.html">Contact UC3</a> form.</p>
<h3>Help</h3>

<ul>
	<li> Quick overview </li>
	<li> Search options </li>
	<li> <a href="metadata_guide.html.erb">Merritt & metadata </li>
	<li> <a href="manifest_guide.html.erb">Using a manifest</a> </li>
	<li> <a href="edit_objects.html.erb">Editing objects</a> </li>
	<li> <a href="about.html.erb">About Merritt</a> </li>
</ul>
  
</div>
<div class="grid_4 sidebar">

  
</div>
