
<div class="grid_11">
	
	<%= render :partial => request[:action] %>

</div>
<div class="grid_1">&nbsp;</div>
<div class="grid_4 sidebar">
  
  <%= render :partial => 'help_sidebar' %>
  
</div>




</body>
</html>