  <div class="key">primary identifier:</div>
  <div class="value"><%= params[:object] %></div>

  <div class="key">title:</div>
  <div class="value">Characterization of the Behavior and Regulation of Pioneer Microtubules at the Larval Drosophila Neuromuscular Junction</div>

  <div class="key">author:</div>
  <div class="value">Pawson, Catherine Tara</div>

  <div class="key">date:</div>
  <div class="value">2008</div>

  <div class="key">local id:</div>
  <div class="value">(not given)</div>

  <div class="key">last modified:</div>
  <div class="value">2010-07-01 4:32 pm</div>

  <div class="key">created:</div>
  <div class="value">2010-05-22 8:27 am </div>

  <div class="key">last access:</div>
  <div class="value">2010-07-01 4:32 pm</div>

  <div class="key">total size <span style="font-weight: normal">(all versions)</span>:</div>
  <div class="value">522 KB</div>

  <div class="key">total files <span style="font-weight: normal">(all versions)</span>:</div>
  <div class="value">15</div>

  <div class="key">total versions:</div>
  <div class="value">4</div>

  <div class="clear"></div>
