<% if !short_bib_display.erc_who.blank? and !short_bib_display.erc_who.match(/\(:unas\)/) then %>
  <%= dc_nice(short_bib_display.erc_who) %>.
<% end %>

<% if !short_bib_display.erc_what.blank? then %>
  <span class="title"><%= dc_nice(short_bib_display.erc_what) %></span>
<% end %>

<% if !short_bib_display.erc_when.blank? and !short_bib_display.erc_who.match(/\(:unas\)/) then %>
  (<%= dc_nice(short_bib_display.erc_when) %>)
<% end %>
