<% if !dc_nice(short_bib_display.current_version.dk_who).blank? then %>
  <%= dc_nice(short_bib_display.current_version.dk_who) %>.
<% end %>

<% if !dc_nice(short_bib_display.current_version.dk_what).blank? then %>
  <span class="title"><%= dc_nice(short_bib_display.current_version.dk_what) %></span>
<% end %>

<% if !dc_nice(short_bib_display.current_version.dk_when).blank? %>
  <span class="timestamp">(<%= dc_nice(short_bib_display.current_version.dk_when) %>)</span>
<% end %>
