<%# takes :obj passed in as local variable as rdf object
%>
<%= dc_nice(obj[Mrt::Kernel.who]) %>.
<span class="title"><%= dc_nice(obj[Mrt::Kernel.what])%></span>
(<%= dc_nice(obj[Mrt::Kernel.when]) %>)
