<% if !dc_nice(short_bib_display.erc_who).blank? then %>
  <%= dc_nice(short_bib_display.erc_who) %>.
<% end %>

<% if !dc_nice(short_bib_display.erc_what)blank? then %>
  <span class="title"><%= dc_nice(short_bib_display.erc_what) %></span>
<% end %>

<% if !dc_nice(short_bib_display.erc_when).blank? %>
  (<%= dc_nice(short_bib_display.erc_when) %>)
<% end %>
