<tr>
  <th class="ark-header">
    <%= link_to table_row.ark,
                :controller => "object",
                :action     => "index",
                :object     => table_row %>
  </th>
  <td class="ark-data">
    <%= render :partial => "/object/short_bib_display", :object => table_row %>
  </td>
</tr>
