<tr class="<%= cycle('even', 'odd') %>">
  <td>
    <%= link_to table_row.ark, 
                :controller => "object", 
                :action     => "index", 
                :group      => @group.id, 
                :object     => table_row.ark_urlencode %>
  </td>
  <td colspan="2">
    <%= render :partial => "/object/short_bib_display", 
               :locals  => { :obj => table_row } %>
  </td>
</tr>
