<tr>
  <td>
    <%= link_to table_row.ark, 
                :controller => "object", 
                :action     => "index", 
                :object     => table_row %>
  </td>
  <td colspan="2">
    <%= render :partial => "/object/short_bib_display", :object => table_row %>
  </td>
</tr>
