<div class="grid_12">
  <h2>Add Object</h2>
  <div class="breadcrumbs">
    <%= link_to('Merritt', :controller => 'home', :action => 'index') %> &gt;
    <%= link_to("Collection: #{@group.description}", :controller => 'collection', :action => 'index', :group => @group.id) %>
    &gt; Add Object
  </div>
    <br/>

  
</div>
<div class="grid_4 sidebar">

</div>

