<div class="grid_12">
  <h2>Submission Error</h2>
  <div class="breadcrumbs">
    <%= link_to('Merritt', :controller => 'home', :action => 'index') %> &gt;
    <%= link_to("Collection: #{@group.description}", :controller => 'collection', :action => 'index', :group => @group.id) %>
    &gt; Submission Error
  </div>

  <br/>

  <p>We're sorry, but your request to add data to the storage repository ran into a problem.</p>

  <!-- <%=@description%> -->

  <p>The most common cause of this error is a problem with the formatting of
    your manifest, or it does not match the type of submission you are requesting.</p>

  <p><a href="http://www.cdlib.org/services/uc3/contact.html">Contact us</a>
  for assistance in troubleshooting the problem.</p>

</div>
<div class="grid_4 sidebar">
  <%= render :partial => '/shared/side_lookup' %><br/>
</div>