---
swagger: "2.0"
info:
  description: Merritt User Interface API
  version: 1.0.0
  title: Merritt User Interface API
host: merritt.cdlib.org
basePath: /terrywbrady/Merritt/1.0.0
tags:
- name: ui
  description: Merritt UI
- name: api
  description: Merritt API
- name: internal-use
  description: Internal use within the UI app
schemes:
- https
paths:
  /login:
    get:
      summary: Display login page
      tags:
      - ui
      responses:
        "200":
          description: return login page
    post:
      summary: Send user login credentials
      tags:
      - ui
      parameters: 
      - in: query
        name: login
        type: string
        required: true
      - in: query
        name: password
        type: string
        required: true
      responses:
        "200":
          description: display Merritt home with active user session or redirect to login page
  /guest_login:
    get:
      summary: Redirect to guest login
      tags:
      - ui
      responses:
        "200":
          description: display Merritt home with active guest user session
    post:
      summary: Send guest login credentials
      tags:
      - ui
      responses:
        "200":
          description: display Merritt home with active guest user session
  /logout:
    get:
      summary: User logout
      tags:
      - ui
      responses:
        "200":
          description: display Merritt home with no active session
  /m/{ark}:
    get:
      summary: Display collection or object page
      tags:
      - ui
      parameters: 
      - in: path
        name: ark
        type: string
        required: true
      responses:
        "200":
          description: display resource
        "401":
          description: access not authorized
  /m/{ark}/{version}:
    get:
      summary: Display object version page
      tags:
      - ui
      parameters: 
      - in: path
        name: ark
        type: string
        required: true
      - in: path
        name: version
        type: integer
        required: true
      responses:
        "200":
          description: display resource
        "401":
          description: access not authorized
  /home/choose_collection:
    get:
      summary: Select collection for user session
      tags:
      - ui
      responses:
        "200":
          description: display resource
  /user/update:
    post:
      summary: Update user profile
      tags:
      - ui
      parameters: 
      - in: query
        name: givenname
        type: string
        required: true
      - in: query
        name: sn
        type: string
        required: true
        description: lastname
      - in: query
        name: userpassword
        type: string
        required: true
      - in: query
        name: repeatuserpassword
        type: string
        required: true
      - in: query
        name: mail
        type: string
        required: true
      responses:
        "200":
          description: display updated profile
        "401":
          description: access not authorized
  /collection/search_results:
    get:
      summary: Display collection search results
      tags:
      - ui
      responses:
        "200":
          description: display resource
        "401":
          description: access not authorized
  /version/index:
    get:
      summary: Access version page
      tags:
      - ui
      responses:
        "200":
          description: display resource
        "401":
          description: access not authorized
  /a/{ark}:
    get:
      summary: Dsiplay add object page
      tags:
      - ui
      parameters: 
      - in: path
        name: ark
        type: string
        required: true
      responses:
        "200":
          description: display resource
        "401":
          description: access not authorized
  /collection/object_count:
    get:
      summary: Get object count for collection
      tags:
      - ui
      parameters: 
      - in: query
        name: group
        type: string
        required: false
        description: required unless in session
      - in: cookie
        name: group_id
        type: string
        required: false
      responses:
        "200":
          description: return count as text
  /collection/version_count:
    get:
      summary: Get version count for collection
      tags:
      - ui
      parameters: 
      - in: query
        name: group
        type: string
        required: false
        description: required unless in session
      - in: cookie
        name: group_id
        type: string
        required: false
      responses:
        "200":
          description: return count as text
  /collection/file_count:
    get:
      summary: Get file count for collection
      tags:
      - ui
      parameters: 
      - in: query
        name: group
        type: string
        required: false
        description: required unless in session
      - in: cookie
        name: group_id
        type: string
        required: false
      responses:
        "200":
          description: return count as text
  /collection/total_size:
    get:
      summary: Get total byte size for collection (all versions)
      tags:
      - ui
      parameters: 
      - in: query
        name: group
        type: string
        required: false
        description: required unless in session
      - in: cookie
        name: group_id
        type: string
        required: false
      responses:
        "200":
          description: return size as text
  /collection/billable_size:
    get:
      summary: Get total billable byte size for collection
      tags:
      - ui
      parameters: 
      - in: query
        name: group
        type: string
        required: false
        description: required unless in session
      - in: cookie
        name: group_id
        type: string
        required: false
      responses:
        "200":
          description: return size as text
  /d/{ark}/{version}/{file}:
    get:
      summary: Download file (stream bytes)
      description: Deprecated. See /api/presign-file/
      deprecated: true
      tags:
      - api
      parameters: 
      - in: path
        name: ark
        type: string
        required: true
      - in: path
        name: version
        type: integer
        required: true
      - in: path
        name: file
        type: string
        required: true
      responses:
        "200":
          description: display resource
        "401":
          description: access not authorized
  /d/{ark}/{version}:
    get:
      summary: Download assembled object version (stream bytes)
      deprecated: true
      description: Deprecated. See /api/assemble-version/
      tags:
      - api
      parameters: 
      - in: path
        name: ark
        type: string
        required: true
      - in: path
        name: version
        type: integer
        required: true
      responses:
        "200":
          description: display resource
        "401":
          description: access not authorized
  /d/{ark}:
    get:
      summary: Download assembled object (stream bytes)
      deprecated: true
      description: Deprecated. See /api/assemble-object/
      tags:
      - api
      parameters: 
      - in: path
        name: ark
        type: string
        required: true
      responses:
        "200":
          description: display resource
        "401":
          description: access not authorized
  /u/{ark}/{version}:
    get:
      summary: Download assembled object version (stream bytes) including only producer files
      deprecated: true
      description: Deprecated. See /api/assemble-version/
      tags:
      - api
      parameters: 
      - in: path
        name: ark
        type: string
        required: true
      - in: path
        name: version
        type: integer
        required: true
      responses:
        "200":
          description: display resource
        "401":
          description: access not authorized
  /u/{ark}:
    get:
      summary: Download assembled object (stream bytes) including only producer files
      deprecated: true
      description: Deprecated. See /api/assemble-object/
      tags:
      - api
      parameters: 
      - in: path
        name: ark
        type: string
        required: true
      responses:
        "200":
          description: display resource
        "401":
          description: access not authorized
  /dm/{ark}:
    get:
      summary: Download object manifest (stream bytes)
      tags:
      - api
      parameters: 
      - in: path
        name: ark
        type: string
        required: true
      responses:
        "200":
          description: display resource
        "401":
          description: access not authorized
  /feeds/recent:
    get:
      summary: get recent items
      tags:
      - ui
      parameters: 
      - in: query
        name: collection
        type: string
        required: true
      responses:
        "200":
          description: display resource
        "401":
          description: access not authorized
  /object/recent.{feedtype}:
    get:
      summary: Generate atom feed - what other formats do we support?
      tags:
      - ui
      parameters: 
      - in: path
        name: feedtype
        type: string
        required: true
        description: feed type should be atom
      responses:
        "200":
          description: display resource
        "401":
          description: access not authorized
  /api/presign-file/{ark}/{version}/{file}:
    get:
      summary: Retrieve file by presigned url
      tags:
      - api
      parameters: 
      - in: path
        name: ark
        type: string
        required: true
        description: ark should be url-encoded
      - in: path
        name: version
        type: integer
        required: true
      - in: path
        name: file
        type: string
        required: true
        description: path should be url-encoded
      - in: query
        name: no_redirect
        type: boolean
        required: false
        description: if set, presigned url will be sent in payload
      - in: query
        name: contentDisposition
        type: string
        enum:
        - attachment
        required: false
        description: if set, the presigned Url will download as an attachment (rather than displaying in a browser) regardless of the contentType for the file
      responses:
        "200":
          description: presigned url in payload
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
        "303":
          description: presigned url returned as redirect
          headers:
            location:
              description: contains presigned url, browser should redirect automatically
        "401":
          description: access not authorized
        "403":
          description: object exists, content cannot be processed
        "404":
          description: object does not exist
        "500":
          description: processing error
  /api/get-storage-key-file/{ark}/{version}/{file}:
    get:
      summary: Create key to send to storage service
      tags:
      - internal-use
      parameters: 
      - in: path
        name: ark
        type: string
        required: true
      - in: path
        name: version
        type: integer
        required: true
      - in: path
        name: file
        type: string
        required: true
  /api/assemble-version/{ark}/{version}:
    get:
      summary: Start async assembly of object version
      tags:
      - api
      parameters: 
      - in: path
        name: ark
        type: string
        required: true
        description: ark should be url-encoded
      - in: path
        name: version
        type: integer
        required: true
      - in: query
        name: content
        type: string
        required: false
        description: producer|full
      - in: query
        name: format
        type: string
        required: false
        description: zip|tar|targz
  /api/assemble-obj/{ark}:
    get:
      summary: Start async assembly of object 
      tags:
      - api
      parameters: 
      - in: path
        name: ark
        type: string
        required: true
        description: ark should be url-encoded
      - in: query
        name: content
        type: string
        required: false
        description: producer|full
      - in: query
        name: format
        type: string
        required: false
        description: zip|tar|targz
  /api/presign-obj-by-token/{token}:
    get:
      summary: Retrive assembled object/version by presigned url
      tags:
      - api
      parameters: 
      - in: path
        name: token
        type: string
        required: true
      - in: query
        name: no_redirect
        type: boolean
        required: false
        description: if set, presigned url will be sent in payload
      - in: query
        name: filename
        type: string
        required: false
        description: name to assign to download file, defaults to object.zip
  /object/upload:
    post:
      summary: Start object ingest (tbd differentiate ingest vs upload)
      tags:
      - ui
      - api
      parameters: &ingestparamup
      - in: query
        name: file
        type: file
        required: true
        description: file upload
      - in: query
        name: creator
        type: string
        required: false
        description: 
      - in: query
        name: date
        type: string
        required: false
        description: 
      - in: query
        name: localIdentifier
        type: string
        required: false
        description: 
      - in: query
        name: primaryIdentifier
        type: string
        required: false
        description: 
      - in: query
        name: profile
        type: string
        required: false
        description: 
      - in: query
        name: responseForm
        type: string
        required: false
        description: 
      - in: query
        name: title
        type: string
        required: false
        description: 
      - in: query
        name: type
        type: string
        required: false
        description: 
  /object/ingest:
    post:
      summary: Start object ingest (tbd differentiate ingest vs upload)
      tags:
      - ui
      - api
      parameters: &ingestparamfull
      - in: query
        name: file
        type: file
        required: true
        description: file upload
      - in: query
        name: creator
        type: string
        required: false
        description: 
      - in: query
        name: date
        type: string
        required: false
        description: 
      - in: query
        name: digestType
        type: string
        required: false
        description: 
      - in: query
        name: digestValue
        type: string
        required: false
        description: 
      - in: query
        name: localIdentifier
        type: string
        required: false
        description: 
      - in: query
        name: notification
        type: string
        required: false
        description: 
      - in: query
        name: notificationFormat
        type: string
        required: false
        description: 
      - in: query
        name: primaryIdentifier
        type: string
        required: false
        description: 
      - in: query
        name: profile
        type: string
        required: false
        description: 
      - in: query
        name: note
        type: string
        required: false
        description: 
      - in: query
        name: responseForm
        type: string
        required: false
        description: 
      - in: query
        name: DataCite.resourceType
        type: string
        required: false
        description: 
      - in: query
        name: DC.contributor
        type: string
        required: false
        description: 
      - in: query
        name: DC.coverage
        type: string
        required: false
        description: 
      - in: query
        name: DC.reator
        type: string
        required: false
        description: 
      - in: query
        name: DC.date
        type: string
        required: false
        description: 
      - in: query
        name: DC.description
        type: string
        required: false
        description: 
      - in: query
        name: DC.format
        type: string
        required: false
        description: 
      - in: query
        name: 'DC.identifier'
        type: string
        required: false
        description: 
      - in: query
        name: DC.language
        type: string
        required: false
        description: 
      - in: query
        name: DC.publisher
        type: string
        required: false
        description: 
      - in: query
        name: DC.relation
        type: string
        required: false
        description: 
      - in: query
        name: DC.rights
        type: string
        required: false
        description: 
      - in: query
        name: DC.source
        type: string
        required: false
        description: 
      - in: query
        name: DC.subject
        type: string
        required: false
        description: 
      - in: query
        name: DC.title
        type: string
        required: false
        description: 
      - in: query
        name: submitter
        type: string
        required: false
        description: 
      - in: query
        name: title
        type: string
        required: false
        description: 
      - in: query
        name: synchronousMode
        type: string
        required: false
        description: 
      - in: query
        name: retainTargetURL
        type: string
        required: false
        description: 
      - in: query
        name: type
        type: string
        required: false
        description: 
  /object/update:
    post:
      summary: Start new version ingest for an object
      tags:
      - ui
      - api
      parameters:
      <<: *ingestparamfull
  /object/mint:
    post:
      summary: Mint an id for a new object
      tags:
      - internal-use
      parameters:
      - in: query
        name: profile
        type: string
        required: true
        description: 
      - in: query
        name: responseForm
        type: string
        required: true
        description: 
      - in: query
        name: erc
        type: string
        required: true
        description: 
