<% content_for :title do %>
  UC3 Merritt: Asynchronous processing has begun
<% end %>

<main>
  <section>
    <h2>Asynchronous processing has begun</h2>
    <p>
      You will receive an email when compression is complete and your container
      file is ready for download.
    </p>
  </section>
</main>
