<% content_for(:title) do %>
  UC3 Merritt Home
<% end %>

<% content_for(:extra_head) do %>
<!-- Merritt monitoring test code. Please do not remove this comment since
it will cause the monitoring scripts to fail.

 - served at <%= Time.new %>

 - monitoring string SwuV4tac

-->
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script type="text/javascript">
  $(document).ready(function(){
    var cmd = getCommand();
    var token = getToken();
    if (cmd == "add") {
      addToken(token);
      document.location = "/downloads";
    }
    showTable();
  });

  //https://stackoverflow.com/a/5158301/3846548
  function getParameterByName(name) {
      var match = RegExp('[?&]' + name + '=([^&]*)').exec(window.location.search);
      return match && decodeURIComponent(decodeURIComponent(match[1].replace(/\+/g, ' ')));
  }

  function getToken() {
    var loc = document.location.pathname;
    var arr = loc.split("/");
    if (arr.length > 1) {
      return arr[arr.length - 1];
    }
    return "";
  }

  function getCommand() {
    var loc = document.location.pathname;
    var arr = loc.split("/");
    if (arr.length > 2) {
      return arr[arr.length - 2];
    }
    return "";
  }

  function uuidv4() {
    return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
      var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
      return v.toString(16);
    });
  }

  function mockToken() {
    document.location = "/downloads/add/" + uuidv4();
  }

  function clearData() {
    localStorage.tokens = "";
    showTable();
  }

  function createRow(token, data) {
    var t = getTime();
    var tr = $("<tr/>");
    var href = "/downloads/get/"+token;
    if (data['ready']) {
      href += "?available=true";
    }
    var link = $("<a/>").attr("href", href).text(data['name'])
    $("<th/>").appendTo(tr).append(link);
    $("<td/>").appendTo(tr).text(formatTime(getTime(), data['available']));
    $("<td/>").appendTo(tr).text(formatTime(getTime(), data['expires']));
    $("<td/>").appendTo(tr).text(data['size']);
    return tr;
  }

  function getTokenData(token) {
    var datastr = localStorage[token];
    if (!datastr) {
      return null;
    }
    var data = JSON.parse(datastr);
    var t = getTime();
    if (data['expires'] < t) {
      localStorage.removeItem(token);
      return null;
    }
    data['ready'] = (data['available'] <= t);
    return data;
  }

  function showTable() {
    $("table.merritt_downloads tbody tr").remove();
    var tokens = getTokenList();
    var activeTokens = [];
    for (var i=0; i<tokens.length; i++) {
      var token = tokens[i];
      var data = getTokenData(token);
      if (data) {
        activeTokens.push(token)
        $("table.merritt_downloads tbody")
          .append(createRow(token, data));
      }
    }
  }

  function getTokenList() {
    if (localStorage.tokens == null || localStorage.tokens == "") {
      return [];
    }
    return localStorage.tokens.split(",");
  }

  function formatTime(t, comp) {
    var diff = comp - t;
    if (diff < 100) return 'Now';
    if (diff > 60000) return '' + Math.round(diff / 60000) + ' min';
    return '' + Math.round(diff / 1000) + ' sec';
  }

  function getTime() {
    return new Date().getTime();
  }

  function addToken(token) {
    if (token == "") {
      return;
    }
    var tokens = getTokenList();
    tokens.push(token);
    localStorage.tokens = tokens.join(",");
    var now = new Date();
    var d = new Date(getParameterByName('available'));

    data = {
      name: getParameterByName('key'),
      available: d.getTime(),
      expires: d.getTime() + 60 * 60000,
      size: getParameterByName('size')
    }
    localStorage[token] = JSON.stringify(data);
  }
</script>
<style type="text/css">
  table.merritt_downloads, div.merritt_downloads {
    width: 100%;
  }
  table.merritt_downloads th, table.merritt_downloads td {
    border: solid thin black;
    padding: 2px;
  }
  table.merritt_downloads thead th, table.merritt_downloads thead td {
    background-color: orange;
  }
</style>
<% end %>

<div class="home">
  <main class="home">
    <section>
        <h1>
          <img class="merritt-logo" src="/images/logos/merritt-logo.svg" alt="Merritt"/>
        </h1>
        <h2>Merritt Downloads</h2>
        <div>
          <button onclick="javscript:clearData()">Clear Downloads</button>
        </div>
        <div class="merritt_downloads">
          <table class="merritt_downloads">
            <thead>
            <tr class="header">
              <th>Content</th>
              <th>Expected Availability</th>
              <th>Expires</th>
              <th>Size</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
    </section>

  </main>
</div>
