<% content_for(:title) do %>
  UC3 Merritt Home
<% end %>

<% content_for(:extra_head) do %>
<!-- Merritt monitoring test code. Please do not remove this comment since
it will cause the monitoring scripts to fail.

 - served at <%= Time.new %>

 - monitoring string SwuV4tac

-->

<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<%= javascript_include_tag "presign_download_page"%>
<%= stylesheet_link_tag "presign_download"%>
<% end %>

<div class="home">
  <main class="home">
    <section>
        <h1>
          <img class="merritt-logo" src="/images/logos/merritt-logo.svg" alt="Merritt"/>
        </h1>
        <h2>Merritt Single Download</h2>
        <div id="download_wrap">
          <div id="download">
            <h1>Preparing Download</h1>
            <h3>Title: Predicting Cognitive Decline (2012)</h3>
            <p>
              Merritt needs time to prepare your download.
              Your requested object will automatically download when it is ready.
            </p>
            <p>
              Closing this window will not cancel your download.
            </p>
          </div>
        </div>
        <hr/>
        <h2>Merritt Download Tables</h2>
        <div>
          <button onclick="javscript:clearData()">Clear Downloads</button>
        </div>
        <div class="merritt_downloads">
          <table class="merritt_downloads">
            <thead>
            <tr class="header">
              <th>Content</th>
              <th>Expected Availability</th>
              <th>Expires</th>
              <th>Size</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
    </section>

  </main>
</div>
