<% content_for(:title) do %>
  UC3 Merritt Home
<% end %>

<% content_for(:extra_head) do %>
<!-- Merritt monitoring test code. Please do not remove this comment since
it will cause the monitoring scripts to fail.

 - served at <%= Time.new %>

 - monitoring string SwuV4tac

-->
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script type="text/javascript">
  $(document).ready(function(){
    //mockData();
    showTable();
  });

  function uuidv4() {
    return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
      var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
      return v.toString(16);
    });
  }

  function mockData() {
    localStorage.tokens = "";
    addToken("aaaa-bbbb");
    addToken("bbbb-cccc");
  }

  function createRow(token, name, available, expiration) {
    var tr = $("<tr/>");
    $("<th/>").appendTo(tr).text(token);
    $("<td/>").appendTo(tr).text(name);
    $("<td/>").appendTo(tr).text(available);
    $("<td/>").appendTo(tr).text(expiration);
    return tr;
  }

  function showTable() {
    $("table.merritt_downloads tbody tr").remove();
    var tokens = getTokenList();
    for (var i=0; i<tokens.length; i++) {
      var token = tokens[i];
      $("table.merritt_downloads tbody")
        .append(
          createRow(token, "ARK for " + token, '10 sec', '2 days')
        );
    }
  }

  function getTokenList() {
    if (localStorage.tokens == null || localStorage.tokens == "") {
      return [];
    }
    return localStorage.tokens.split(",");
  }

  function addToken(token) {
    if (token == "") {
      return;
    }
    var tokens = getTokenList();
    tokens.push(token);
    localStorage.tokens = tokens.join(",");
  }
</script>
<style type="text/css">
  table.merritt_downloads, div.merritt_downloads {
    width: 100%;
  }
  table.merritt_downloads th, table.merritt_downloads td {
    border: solid thin black;
    padding: 2px;
  }
  table.merritt_downloads thead th, table.merritt_downloads thead td {
    background-color: orange;
  }
</style>
<% end %>

<div class="home">
  <main class="home">
    <section>
        <h1>
          <img class="merritt-logo" src="/images/logos/merritt-logo.svg" alt="Merritt"/>
        </h1>
        <h2>Merritt Downloads</h2>
        <div>
          <button onclick="javscript:addToken(uuidv4());">Simulate Download</button>
        </div>
        <div class="merritt_downloads">
          <table class="merritt_downloads">
            <thead>
            <tr class="header">
              <th>Token</th>
              <th>Content</th>
              <th>Expected Availability</th>
              <th>Expires</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
    </section>

  </main>
</div>
