<li style="word-wrap:break-word;">
  <% if has_object_permission?(line_sidebar.inv_object, 'download') then %>
    <%= link_to File.basename(line_sidebar.pathname),
          :controller       => :file,
          :action           => :download,
          :object           => line_sidebar.inv_object,
          :version          => line_sidebar.inv_version,
          :file             => line_sidebar %>
  <% else %>
    <%= File.basename(line_sidebar.pathname) %>
  <% end %>
</li>
