<% file = line_sidebar %>
<% version = file.inv_version %>
<% object = version.inv_object %>
<li style="word-wrap:break-word;">
  <% if can_download %>
    <%= link_to File.basename(file.pathname), presigned_link_uri(object, version, file) %>
  <% else %>
    <%= File.basename(file.pathname) %>
  <% end %>
</li>
