<% file = line_sidebar %>
<% object ||= file.inv_object %>
<% version ||= file.inv_version.inv_object %>
<li style="word-wrap:break-word;">
  <% if has_object_permission?(file.inv_object, 'download') then %>
    <%= link_to File.basename(file.pathname),
          :controller       => :file,
          :action           => :download,
          :object           => object,
          :version          => version,
          :file             => file %>
  <% else %>
    <%= File.basename(file.pathname) %>
  <% end %>
</li>
