@import 'globals';

@media (max-width: $main-width-desktop) { // TODO: introduce 2-column layout

  nav {
    justify-content: start;

    ul {
      grid-auto-flow: row;

      li {
        ul {
          li {
            margin-left: 0;
          }
        }
      }
    }
  }

  header {
    div.masthead {
      display: grid;

      p {
        padding-left: $padding / 2;
      }
    }

    nav.login {
      height: $ucop-logo-height;
      position: absolute;
      right: 0;
      top: 0;

      ul {
        margin-right: $margin / 2;
        margin-top: $margin / 2;

        li {
          font-size: medium;
          padding-left: $margin / 2;
          padding-right: $margin / 2;

          a {
            margin-top: $margin / 4;
          }
        }
      }
    }

    nav.user {
      height: $ucop-logo-height;
      position: absolute;
      right: 0;
      top: 0;
    }

    nav.user > ul {
      margin-right: $margin / 2;
      margin-top: $margin;

      li.dropdown {

        span.login-message {
          display: none;
        }

        ul {
          display: none;
        }

        // sass-lint:disable no-ids, no-qualifying-elements
        input#user-dropdown {
          display: none;

          &:checked ~ ul {
            display: block;
            margin-top: $margin / 2;

            li {
              background-color: $midgray1;
              border-left: 1px solid $lightgray;
              border-right: 1px solid $lightgray;
              border-top: 1px solid $lightgray;
              font-size: large;
              padding: $padding / 2;

              &:last-of-type {
                border-bottom: 1px solid $lightgray;
              }
            }
          }
        }

        // sass-lint:disable no-ids, no-qualifying-elements
        input#user-dropdown:checked + label {
          background-color: $lightgray;
        }

        label.dropdown-label {
          font-size: large;
          padding: $padding / 2;

          &::after {
            content: ' \25bc'; // ▼
            //content: ' \2630'; //☰
          }
        }
      }
    }

    nav.menu {
      grid-column-end: 3;
      grid-column-start: 1;
      width: 100%;

      li.dropdown {
        ul {
          li {
            padding-left: 0;
          }
        }

        &:hover {
          background-color: $midgray1;
        }
      }

      ul {
        padding-left: 0;
      }
    }
  }

  footer {
    text-align: left;
  }

  div.publication-info {
    margin: $padding / 2;
  }

}
