@import 'globals';

@media (max-width: $main-width-desktop) { // TODO: introduce 2-column layout

  nav {
    justify-content: start;

    ul {
      grid-auto-flow: row;

      li {
        margin: $margin / 2;

        ul {
          padding-top: $margin / 4;

          li {
            margin-left: 0;
          }
        }
      }
    }
  }

  header {
    div.masthead {
      display: grid;

      p {
        padding-left: $padding / 2;
      }
    }

    nav.login {
      position: absolute;
      right: $margin / 2;
      top: $margin / 2;

      ul {
        li {
          margin-bottom: $margin / 4;
          margin-top: $margin / 4;
        }
      }
    }

    nav.user {
      position: absolute;
      right: 0;
      top: $margin / 2;

      li.dropdown {
        span.login-message {
          display: none;
        }

        ul {
          display: none;
        }

        label.dropdown-label::after {
          content: ' \25bc'; // ▼
          //content: ' \2630'; //☰
        }

        // sass-lint:disable no-ids, no-qualifying-elements
        input#user-dropdown {
          display: none;

          &:checked ~ ul {
            display: block;
          }
        }
      }


      //// sass-lint:disable no-ids, no-qualifying-elements
      //li#user-dropdown:target {
      //  ul {
      //    display: block;
      //    font-size: small;
      //  }
      //}
    }

    nav.menu {
      grid-column-end: 3;
      grid-column-start: 1;
      width: 100%;

      li.dropdown {
        ul {
          li {
            padding-left: 0;
          }
        }

        &:hover {
          background-color: $midgray1;
        }
      }

      ul {
        padding-left: 0;
      }
    }
  }

  footer {
    text-align: left;
  }

  div.publication-info {
    margin: $padding / 2;
  }
}
