@import 'globals';

@media (max-width: $main-width-desktop) { // TODO: introduce 2-column layout

  nav {
    justify-content: start;

    ul {
      grid-auto-flow: row;

      li {
        margin: $margin / 2;

        ul {
          padding-top: $margin / 4;

          li {
            margin-left: 0;
          }
        }
      }
    }
  }

  header {
    grid-template-columns: min-content 1fr;
    justify-items: end;

    div.masthead {
      display: grid;
      grid-column-end: 2;
      grid-column-start: 1;

      p {
        padding-left: $padding / 2;
      }
    }

    nav.login {
      grid-column-end: 3;
      grid-column-start: 2;
      margin-right: $margin / 2;

      ul {
        li {
          margin-bottom: $margin / 4;
          margin-top: $margin / 4;
        }
      }
    }

    nav.user {
      grid-column-end: 3;
      grid-column-start: 2;
    }

    nav.menu {
      grid-column-end: 3;
      grid-column-start: 1;
      width: 100%;

      li.dropdown {
        ul {
          li {
            padding-left: 0;
          }
        }

        &:hover {
          background-color: $midgray1;
        }
      }

      ul {
        padding-left: 0;
      }
    }
  }

  footer {
    text-align: left;
  }

  div.publication-info {
    margin: $padding / 2;
  }
}
