@import 'globals';

@media (min-width: $main-width-desktop) { // TODO: introduce 2-column layout

  header {
    // TODO: can we get away with the same grid layout as _1column.scss here?
    grid-template-columns: minmax(min-content, auto) max-content;

    div.masthead {
      align-items: center;
      display: flex;
      grid-column-end: 2;
      grid-column-start: 1;
    }

    label.dropdown-label {
      display: none;
    }

    // sass-lint:disable no-ids, no-qualifying-elements
    input#user-dropdown {
      display: none;
    }

    nav {
      ul {
        li {
          padding: ($padding / 4) ($padding / 2);

          &:hover {
            background: $lightgray;
          }
        }
      }

      li.dropdown {
        // allows nested UL to calculate width
        position: relative;

        ul {
          background-color: $midgray1;
          display: none;
          margin-left: -($margin / 2);
          margin-top: ($margin / 4);
          position: absolute;
          width: 100%;
        }

        &:hover {
          // align with right edge of dropdown items
          border-right: 2px solid $lightgray;

          ul {
            border: 1px solid $lightgray;
            display: block;
          }
        }
      }

      li.dropdown > a::after {
        content: ' \25bc'; // ▼
      }

      span.login-message::after {
        content: ' \25bc'; // ▼
      }
    }

    nav.login {
      background: none;
      grid-column-end: 3;
      grid-column-start: 2;
      justify-items: end;

      ul {
        margin-right: $margin;

        li {
          align-items: center;
          display: flex;
          justify-content: center;

          a {
            display: block;
            padding-left: $padding;
            padding-right: $padding;
          }

          &:hover {
            // TODO: fix this
            background: inherit;
          }
        }
      }
    }

    nav.user {
      padding-right: $padding / 2;

      li.dropdown:not(:hover) {
        // avoid jitter when highlighted
        border-right: 2px solid transparent;
      }
    }

    nav.menu {
      grid-column-end: 3;
      grid-column-start: 1;

      ul {
        grid-auto-flow: column;
      }

      li.dropdown {
        ul {
          background-color: $midgray1;
        }

        &:hover {
          ul {
            margin-left: -($margin / 2);
            margin-top: ($margin / 4);
          }
        }
      }
    }
  }

  footer {
    text-align: center;

    nav {
      justify-content: center;

      ul {
        grid-auto-flow: column;
        grid-column-gap: 0;

        li {
          padding-left: $padding / 4;
          padding-right: $padding / 4;
        }

        li:not(:last-of-type) {
          border-right: 1px solid $darkgray;
        }
      }
    }
  }
}


