// ////////////////////////////////////////////////////////////
// Layout

$margin: 1.2em;
$padding: 1.2em;

// ////////////////////////////////////////////////////////////
// Typography

// sass-lint:disable indentation
$font-family:
        'Open Sans',
        'Neue Haas Grotesk',
        'Helvetica Neue',
        'Helvetica',
        'Nimbus Sans',
        'Nimbus Sans L',
        'Arial',
        sans-serif
;

// ////////////////////////////////////////////////////////////
// Colors

$black: #000000;
$darkgray: #7c7e7f;
$lightgray: #f2f2f2;
$midgray1: #d8d8d9;
$midgray2: #e4e4e4;
$orange: #f28d1e;

// ////////////////////////////////////////////////////////////
// Borders (for debugging)
// TODO: remove borders when fully debugged

//$border: 1px solid #ff00ff;
$border: 0;

nav {
  border: $border;
}

section {
  border: $border;
}

p {
  border: $border;
}

ul {
  border: $border;
}

li {
  border: $border;
}

