$margin: 1em;
$padding: 1em;

// TODO: remove borders when fully debugged
//$border: 1px solid red;
$border: 0;

section {
  border: $border;
}

p {
  border: $border;
}

ul {
  border: $border;
}

li {
  border: $border;
}


