@import 'globals';

@media (max-width: $main-width-desktop) { // TODO: introduce 2-column layout
  main.home {
    width: $main-width-1column;

    img.service-logo {
      max-height: $service-logo-height;
      max-width: $service-logo-width;
    }

    h1 {
      img.merritt-logo {
        height: auto;
        width: $service-logo-width;
      }
    }

    section.related-services {
      ul {
        margin-left: auto;
        margin-right: auto;
        width: $service-logo-width;
      }
    }
  }
}
