// sass-lint:disable-block no-vendor-prefixes, single-line-per-selector
//noinspection CssInvalidPseudoSelector
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  div.masthead {
    -ms-grid-columns: 103px 12px 128px auto;
    display: -ms-grid;

    img.ucop-logo {
      -ms-grid-column: 1;
      width: 103px;
    }

    img.ucop-logo-divider {
      -ms-grid-column: 2;
      width: 12px;
    }

    img.merritt-logo {
      -ms-grid-column: 3;
      width: 128px;
    }
  }

  main {
    -ms-grid-columns: 656px 24px 232px;
    display: -ms-grid;

    section {
      -ms-grid-column: 1;
    }

    aside {
      -ms-grid-column: 3;
    }
  }

  main.home {
    -ms-grid-columns: 220px 24px 220px 24px 220px;
    -ms-grid-rows: 488px 24px 288px 24px 336px;

    section.intro {
      -ms-grid-column: 1;
      -ms-grid-column-span: 5;
      -ms-grid-columns: 440px 24px 196px;
      -ms-grid-row: 1;
      -ms-grid-rows: 120px 320px;

      display: -ms-grid;

      section {
        -ms-grid-row-span: 2;
      }

      aside {
        -ms-grid-column: 3;
        -ms-grid-row: 2;
      }
    }

    // sass-lint:disable-block no-ids
    section {
      &#ie-learn-more {
        -ms-grid-column: 1;
        -ms-grid-row: 3;
      }

      &#ie-request-account {
        -ms-grid-column: 3;
        -ms-grid-row: 3;
      }

      &#ie-trusted-repository {
        -ms-grid-column: 5;
        -ms-grid-row: 3;
      }
    }

    section.related-services {
      -ms-grid-column: 1;
      -ms-grid-column-span: 5;
      -ms-grid-row: 5;

      ul {
        -ms-grid-columns: 204px 24px 204px 24px 204px;
        -ms-grid-rows: 80px 24px 80px;
        display: -ms-grid;

        // sass-lint:disable-block no-ids
        li {
          display: block;
          padding: 6px;

          &#ie-uc3-logo {
            -ms-grid-column: 1;
            -ms-grid-row: 1;

            img {
              height: 76px;
              width: 176px;
            }
          }

          &#ie-calisphere-logo {
            -ms-grid-column: 3;
            -ms-grid-row: 1;

            img {
              height: 42px;
              width: 204px;
            }
          }

          &#ie-cdl-logo {
            -ms-grid-column: 5;
            -ms-grid-row: 1;

            img {
              height: 75px;
              width: 204px;
            }
          }

          &#ie-ezid-logo {
            -ms-grid-column: 1;
            -ms-grid-row: 3;

            img {
              height: 31px;
              width: 204px;
            }
          }

          &#ie-dash-logo {
            -ms-grid-column: 3;
            -ms-grid-row: 3;

            img {
              height: 40px;
              width: 140px;
            }
          }

          &#ie-escholarship-logo {
            -ms-grid-column: 5;
            -ms-grid-row: 3;

            img {
              height: 63px;
              width: 204px;
            }
          }
        }
      }
    }
  }

  footer {
    nav {
      ul {
        display: -ms-flexbox;
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  a {
    img {
      border: 0;
    }
  }
}
