@import 'globals';

@media (min-width: $main-width-desktop) { // TODO: introduce 2-column layout

  header {
    nav {
      ul {
        li {
          padding: ($padding / 4) ($padding / 2);

          &:hover {
            background: $lightgray;
          }
        }
      }

    }

    nav.menu {
      grid-column-end: 3;
      grid-column-start: 1;

      // sass-lint:disable no-ids, no-qualifying-elements
      input#nav-menu {
        display: none;
      }

      label.nav-menu-label {
        display: none;
      }

      ul {
        background-color: $midgray1;
        display: flex;
        width: 100%;
      }

      li.dropdown {
        // allows nested UL to calculate width
        position: relative;

        a {
          white-space: nowrap;
        }

        ul {
          background-color: $midgray1;
          display: none;
          margin-left: -($margin / 2);
          margin-top: ($margin / 4);
          min-width: min-content;
          position: absolute;
          width: 100%;
        }

        &:hover {
          // align with right edge of dropdown items
          border-right: 2px solid $lightgray;

          ul {
            border: 1px solid $midgray1;
            display: block;

            margin-left: -($margin / 2);
            margin-top: ($margin / 4);
          }
        }
      }

      li.dropdown > a::after {
        content: ' \25bc'; // ▼
      }

      li#user-dropdown {
        position: absolute;
        right: 0;
      }

      li#user-dropdown:not(:hover) {
        // avoid jitter when highlighted
        border-right: 2px solid transparent;
      }

      span.login-message::after {
        content: ' \25bc'; // ▼
      }
    }

    div.masthead {
      align-items: center;
      display: flex;
      grid-column-end: 2;
      grid-column-start: 1;
    }
  }

  main {
    grid-auto-flow: column;
    grid-template-columns: 1fr auto;
    width: $main-width-legacy;
  }

  footer {
    text-align: center;

    nav {
      align-items: center;
      display: flex;
      justify-content: center;

      ul {
        grid-auto-flow: column;
        grid-column-gap: 0;

        li {
          display: block;
          flex-basis: auto;
          flex-grow: 0;
          flex-shrink: 1;
          padding-left: $padding / 4;
          padding-right: $padding / 4;
        }

        li:not(:last-of-type) {
          border-right: 1px solid $darkgray;
        }
      }
    }
  }

  table.properties {
    th {
      white-space: nowrap;
    }
  }

  span.timestamp {
    white-space: nowrap;
  }
}


