@import 'globals';

@media (max-width: $main-width-desktop) { // TODO: introduce 2-column layout

  li {
    margin: 0;
    padding-top: $padding / 2;
  }

  nav {
    justify-content: start;

    ul {
      li {
        padding: $padding / 2;
      }
    }
  }

  header {
    div.masthead {
      display: grid;

      p {
        padding-left: $padding / 2;
      }
    }

    nav.menu {
      height: $ucop-logo-height;
      position: absolute;
      right: 0;
      top: 0;

      ul {
        grid-auto-flow: row;
      }

      li {
        background-color: $midgray1;
        border-top: 1px solid $midgray1;
      }

      li.dropdown {
        padding-bottom: 0;

        ul {
          margin-top: $margin / 2;

          li {
            margin-left: 0;
            white-space: nowrap;
          }
        }
      }

      // sass-lint:disable no-ids, no-qualifying-elements
      input#nav-menu {
        display: none;
        margin: 0;

        &:checked ~ ul {
          display: block;
          margin-top: $ucop-logo-height;
        }
      }

      label.nav-menu-label {
        display: block;
        position: absolute;
        right: $margin / 2;
        top: $margin / 2;

        img {
          max-height: $ucop-logo-height - $margin;
          max-width: $ucop-logo-height - $margin;
        }
      }
    }

    nav.menu > ul {
      display: none;
    }

    nav.menu > ul > li {
      border-left: 1px solid $midgray1;
      border-right: 1px solid $midgray1;
      //font-size: medium;

      &:last-of-type {
        border-bottom: 1px solid $midgray1;
      }
    }
  }

  main {
    width: $main-width-1column;
  }

  footer {
    text-align: left;

    nav {
      margin-left: $margin;
      margin-right: $margin;

      ul {
        grid-auto-flow: column;
        margin: 0;

        li {
          text-align: center;
        }
      }
    }

    div.publication-info {
      margin-left: $margin;
      margin-right: $margin;

      p {
        text-align: center;
      }
    }
  }
}
