@import 'globals';

@supports not (display: grid) {
  main {
    display: flex;

    section {
      width: 3 * $column-width;
    }

    aside {
      margin-left: $margin;
      width: $column-width + $margin;
    }
  }

  main.home {
    flex-direction: column;

    section.intro {
      width: 100%;

      aside {
        margin-top: $margin;
      }
    }

    section.feature {
      margin-top: $margin;
      width: 100%;

      h2 {
        text-align: left;
      }

      img {
        margin-left: 0;
      }
    }

    section.related-services {
      margin-top: $margin;
      width: 100%;

      ul {
        align-items: start;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        li {
          margin: $margin / 2;
        }
      }
    }
  }

  footer {
    nav {
      ul {
        display: flex;
      }
    }
  }
}
