@import 'globals';

$logo-width: 192px;

body {
  display: flex;
  flex-direction: column;
}

img.logo-sm {
  width: $logo-width / 2;
}

img.logo-med {
  width: 2 * $logo-width / 3;
}

img.logo {
  width: $logo-width;
}

img.logo-lg {
  width: $logo-width * 2;
}

section.links {
  background-color: $darkgray;
  display: grid;
  grid-auto-rows: minmax(min-content, auto);
  grid-gap: $margin;
  grid-template-columns: repeat(3, 1fr);
  padding: $margin 0;

  section {
    background-color: $lightgray;
    display: flex;
    flex-direction: column;
    padding: $padding;

    h2 {
      text-align: center;
    }

    p {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: fit-content;
    }

    ul {
      display: block;
      list-style-type: none;
      width: fit-content;
    }

    img {
      display: block;
      margin: $margin auto;
    }

    nav {
      margin-bottom: 0;
      margin-top: auto;
      width: 100%;
    }
  }
}

section.related-services {
  background-color: $lightgray;

  h2 {
    text-align: center;
  }

  ul {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    li {
      display: block;
      margin: $margin;
    }
  }
}
