@import 'globals';

$logo-width: 224px;

body {
  display: flex;
  flex-direction: column;
}

img.logo {
  width: $logo-width;
}

img.logo-sm {
  width: $logo-width / 2;
}

header {
  text-align: center;

  h1 {
    margin-top: $margin;
  }

  ul {
    display: block;
    margin-bottom: $margin;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    text-align: left;
    width: fit-content;

    li {
      white-space: nowrap;
    }
  }
}

main {
  display: grid;
  grid-auto-rows: minmax(min-content, auto);
  grid-gap: $margin;
  grid-template-columns: repeat(3, 1fr);
  padding: $margin;

  section {
    background-color: $lightgray;
    display: flex;
    flex-direction: column;
    padding: $padding;
    text-align: center;

    h2 {
      text-align: center;
    }

    p {
      display: block;
      margin-left: auto;
      margin-right: auto;
      text-align: left;
      width: fit-content;
    }

    ul {
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding: 0;
      text-align: left;
      width: fit-content;

      li {
        white-space: nowrap;
      }
    }

    img {
      display: block;
      margin: $margin auto;
    }

    nav {
      margin-bottom: 0;
      margin-top: auto;
      width: 100%;
    }
  }
}

aside.related-services {
  background-color: $lightgray;
  margin: 0 $margin $margin;
  text-align: center;

  ul {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;

    li {
      display: block;
      margin: $margin;
    }
  }
}
