@import 'open-sans';
@import 'globals';
@import 'main-1col';
@import 'main-3col';
@import 'home';

body {
  align-items: center;
  background-color: $lightgray;
  color: $black;
  display: flex;
  flex-direction: column;
  font-family: $font-family;
  font-size: smaller;
  line-height: 1.5;
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 0;
  margin-top: $margin / 2;
}

p.error-message {
  color: $red;
  font-size: larger;
  font-weight: bold;
}

p.environment {
  color: $darkgray;
  font-weight: bold;
  margin: 0;
  opacity: .75;
  padding: 0;
  pointer-events: none;
  position: fixed;
  right: $margin / 8;
  top: $margin / 8;
  touch-action: none;
  z-index: 999;
}

h2 {
  line-height: 1.2em;
  margin-bottom: 0;
  margin-top: 0;
}

h3 {
  border-bottom: 1px solid $midgray1;
  font-size: 1em;
  line-height: 1.2em;
  margin-bottom: $margin / 2;
}

h3:first-child {
  margin-top: 0;
}

h3.object-title {
  font-weight: normal;
}

img.ucop-logo {
  height: $ucop-logo-height;
}

img.merritt-logo {
  height: $merritt-logo-height;
}

img.tip-icon {
  height: 1.2em;
}

div.breadcrumbs {
  font-size: smaller;
  margin-bottom: $margin / 2;
}

span.title {
  font-weight: bold;
}

span.timestamp {
  white-space: nowrap;
}

ul {
  padding: 0;
}

table {
  border-collapse: collapse;
  table-layout: auto;

  th {
    text-align: left;
    vertical-align: top;
  }

  td {
    vertical-align: top;
  }

  thead {
    tr:last-child {
      th {
        border-bottom: 1px solid $darkgray;
      }
    }
  }
}

table.main {
  font-size: smaller;
  width: 100%;

  th {
    padding: $padding / 4;
  }

  td {
    padding: $padding / 4;
  }

  tr:not(:last-child) {
    th {
      border-bottom: 1px solid $midgray2;
    }

    td {
      border-bottom: 1px solid $darkgray;
    }
  }
}

table.properties {
  margin-right: auto;

  tbody {
    th {
      text-align: right;
      white-space: nowrap;

      em {
        font-weight: normal;
      }
    }

    td {
      padding-left: $padding / 2;
    }
  }

  th.table-section-header {
    text-align: left;

    h3 {
      margin-top: $margin;
    }
  }
}

nav {
  ul {
    display: grid;
    list-style-type: none;
  }
}

header {
  align-items: center;
  background: linear-gradient($midgray1, $midgray2);
  display: grid;
  width: 100%;

  div.masthead {
    align-items: center;
    display: flex;
  }

  nav {
    a {
      color: inherit;
      display: inline-block;
      text-decoration: none;
      width: 100%;
    }

    a:hover {
      text-decoration: underline;
    }

    ul {
      margin: 0;

      li {
        border: 0;
        font-weight: bold;

        a:hover {
          text-decoration: none;
        }
      }

      li.dropdown {
        ul {
          li {
            font-weight: normal;
          }
        }
      }
    }
  }

  nav.login {
    ul {
      li {
        background-color: $orange;
        border-radius: $corner-radius / 2;
        font-weight: bold;
        height: $ucop-logo-height / 2;

        &:hover {
          background-color: $orange;
        }
      }
    }
  }
}

main {
  background-color: $lightgray;
  display: grid;
  grid-auto-flow: column;
  grid-gap: $margin;
  margin: 0;
  padding: $padding;

  table.properties {
    width: 100%;

    td {
      padding-left: $padding / 4;
    }

    img.tip-icon {
      margin-left: $margin / 4;
      vertical-align: middle;
    }
  }
}

form {
  table.properties {
    margin-top: $margin / 2;

    th {
      padding-top: $padding / 4;
      width: 25%;
    }

    td {
      padding-top: $padding / 4;
      width: 75%;
    }
  }
}

div.files {
  table.properties {
    th {
      width: 50%;
    }

    td {
      width: 25%;
    }
  }
}

div.form-submit {
  border-top: 1px solid $midgray1;
  margin-top: $margin;
  padding-top: $padding / 2;
}

aside {
  display: flex;
  flex-direction: column;
  grid-gap: $margin;
  width: $column-width + ($margin / 2); // ad-hoc to fit search instructions

  p {
    font-size: smaller;

    img.tip-icon {
      vertical-align: text-top;
    }

    &:not(:first-of-type) {
      margin-top: 0;
    }
  }

  table.properties {
    font-size: smaller;
    width: auto;

    td {
      text-align: right;
    }
  }

  section {
    ul {
      list-style-type: square;

      th {
        max-width: min-content;
      }

      li {
        margin-left: $margin;
      }
    }
  }

  // fake grid-gap for flexbox
  section:not(:last-child) {
    margin-bottom: $margin;
  }
}

footer {
  background: $midgray1;
  width: 100%;

  div.publication-info {
    p:first-of-type {
      margin-top: 0;
    }
  }
}

