@import 'open-sans';
@import 'globals';
@import '1column';
@import '3column';

body {
  align-items: center;
  background-color: $darkgray;
  color: $black;
  display: flex;
  flex-direction: column;
  font-family: $font-family;
  font-size: smaller;
  line-height: 1.2;
  margin: 0;
}

p {
  margin-bottom: 0;
  margin-top: $margin / 2;
}

p.environment {
  color: $darkgray;
  font-weight: bold;
  margin: 0;
  opacity: .75;
  padding: 0;
  pointer-events: none;
  position: fixed;
  right: $margin / 8;
  top: $margin / 8;
  touch-action: none;
  z-index: 999;
}

h3 {
  font-size: 1em;
}

img.ucop-logo {
  height: $ucop-logo-height;
}

img.merritt-logo {
  height: $merritt-logo-height;
}

ul {
  padding: 0;
}

nav {
  ul {
    display: grid;
    list-style-type: none;
  }
}

header {
  align-items: center;
  background: linear-gradient($midgray1, $midgray2);
  display: grid;
  width: 100%;

  div.masthead {
    div.logos {
      align-items: center;
      display: flex;
    }
  }

  nav {
    a {
      color: inherit;
      display: inline-block;
      text-decoration: none;
      width: 100%;
    }

    a:hover {
      text-decoration: underline;
    }

    ul {
      margin: 0;

      li {
        border: 0;
        font-weight: bold;

        a:hover {
          text-decoration: none;
        }
      }

      li.dropdown {
        ul {
          li {
            font-weight: normal;
          }
        }
      }
    }
  }

  nav.login {
    ul {
      background-color: $orange;
      border-radius: $corner-radius / 2;
      height: $ucop-logo-height / 2;

      li {
        font-weight: bold;
      }
    }
  }
}

section {
  background-color: $lightgray;
}

footer {
  background: $midgray1;
  width: 100%;
}

