<p>
  <%= link_to('Create User', :controller => 'admin', :action => 'create_user') %> |
  <%= link_to('Create Collection', :controller => 'admin', :action => 'create_group') %> |
  <%= link_to('Modify Permissions', :controller => 'admin', :action => 'add_user_to_group') %>
</p>
