/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url(../fonts/OpenSans-Italic-Cyrillic-Ext.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url(../fonts/OpenSans-Italic-Cyrillic.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url(../fonts/OpenSans-Italic-Greek-Ext.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url(../fonts/OpenSans-Italic-Greek.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url(../fonts/OpenSans-Italic-Vietnamese.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url(../fonts/OpenSans-Italic-Latin-Ext.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url(../fonts/OpenSans-Italic-Latin.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url(../fonts/OpenSans-BoldItalic-Cyrillic-Ext.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url(../fonts/OpenSans-BoldItalic-Cyrillic.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url(../fonts/OpenSans-BoldItalic-Greek-Ext.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url(../fonts/OpenSans-BoldItalic-Greek.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url(../fonts/OpenSans-BoldItalic-Vietnamese.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url(../fonts/OpenSans-BoldItalic-Latin-Ext.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url(../fonts/OpenSans-BoldItalic-Latin.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url(../fonts/OpenSans-Regular-Cyrillic-Ext.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url(../fonts/OpenSans-Regular-Cyrillic.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url(../fonts/OpenSans-Regular-Greek-Ext.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url(../fonts/OpenSans-Regular-Greek.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url(../fonts/OpenSans-Regular-Vietnamese.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url(../fonts/OpenSans-Regular-Latin-Ext.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url(../fonts/OpenSans-Regular-Latin.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(../fonts/OpenSans-Bold-Cyrillic-Ext.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(../fonts/OpenSans-Bold-Cyrillic.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(../fonts/OpenSans-Bold-Greek-Ext.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(../fonts/OpenSans-Bold-Greek.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(../fonts/OpenSans-Bold-Vietnamese.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(../fonts/OpenSans-Bold-Latin-Ext.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(../fonts/OpenSans-Bold-Latin.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@media (max-width: 708px) {
  li {
    margin: 0;
    padding-top: 12px;
  }
  nav {
    justify-content: start;
  }
  nav ul li {
    padding: 12px;
  }
  header div.masthead {
    display: grid;
  }
  header div.masthead p {
    padding-left: 12px;
  }
  header nav.login {
    height: 60px;
    position: absolute;
    right: 0;
    top: 0;
  }
  header nav.login ul {
    margin-right: 12px;
    margin-top: 12px;
  }
  header nav.login ul li {
    font-size: medium;
    padding-bottom: 0;
    padding-top: 0;
  }
  header nav.login ul li a {
    margin-top: 6px;
  }
  header nav.menu {
    height: 60px;
    position: absolute;
    right: 0;
    top: 0;
  }
  header nav.menu ul {
    grid-auto-flow: row;
  }
  header nav.menu li {
    background-color: #d8d8d9;
    border-top: 1px solid #f2f2f2;
  }
  header nav.menu li.dropdown {
    padding-bottom: 0;
  }
  header nav.menu li.dropdown ul {
    margin-top: 12px;
  }
  header nav.menu li.dropdown ul li {
    margin-left: 0;
  }
  header nav.menu input#nav-menu {
    display: none;
    margin: 0;
  }
  header nav.menu input#nav-menu:checked ~ ul {
    display: block;
    margin-top: 60px;
  }
  header nav.menu label.nav-menu-label {
    display: block;
    position: absolute;
    right: 12px;
    top: 12px;
  }
  header nav.menu label.nav-menu-label img {
    max-height: 36px;
    max-width: 36px;
  }
  header nav.menu > ul {
    display: none;
  }
  header nav.menu > ul > li {
    border-left: 1px solid #f2f2f2;
    border-right: 1px solid #f2f2f2;
  }
  header nav.menu > ul > li:last-of-type {
    border-bottom: 1px solid #f2f2f2;
  }
  footer {
    text-align: left;
  }
  footer nav {
    margin-left: 24px;
    margin-right: 24px;
  }
  footer nav ul {
    grid-auto-flow: column;
    margin: 0;
  }
  footer nav ul li {
    text-align: center;
  }
  footer div.publication-info {
    margin-left: 24px;
    margin-right: 24px;
  }
  footer div.publication-info p {
    text-align: center;
  }
}

@media (min-width: 708px) {
  header {
    grid-template-columns: minmax(min-content, auto) max-content;
  }
  header div.masthead {
    align-items: center;
    display: flex;
    grid-column-end: 2;
    grid-column-start: 1;
  }
  header nav ul li {
    padding: 6px 12px;
  }
  header nav ul li:hover {
    background: #f2f2f2;
  }
  header nav.login {
    background: none;
    grid-column-end: 3;
    grid-column-start: 2;
    justify-items: end;
  }
  header nav.login ul {
    margin-right: 24px;
  }
  header nav.login ul li {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0;
  }
  header nav.login ul li a {
    display: block;
    padding-left: 24px;
    padding-right: 24px;
  }
  header nav.login ul li:hover {
    background: inherit;
  }
  header nav.menu {
    grid-column-end: 3;
    grid-column-start: 1;
  }
  header nav.menu input#nav-menu {
    display: none;
  }
  header nav.menu label.nav-menu-label {
    display: none;
  }
  header nav.menu ul {
    background-color: #d8d8d9;
    display: flex;
    width: 100%;
  }
  header nav.menu li.dropdown {
    position: relative;
  }
  header nav.menu li.dropdown ul {
    background-color: #d8d8d9;
    display: none;
    margin-left: -12px;
    margin-top: 6px;
    position: absolute;
    width: 100%;
  }
  header nav.menu li.dropdown:hover {
    border-right: 2px solid #f2f2f2;
  }
  header nav.menu li.dropdown:hover ul {
    border: 1px solid #f2f2f2;
    display: block;
    margin-left: -12px;
    margin-top: 6px;
  }
  header nav.menu li.dropdown > a::after {
    content: ' \25bc';
  }
  header nav.menu li#user-dropdown {
    position: absolute;
    right: 0;
  }
  header nav.menu li#user-dropdown:not(:hover) {
    border-right: 2px solid transparent;
  }
  header nav.menu span.login-message::after {
    content: ' \25bc';
  }
  footer {
    text-align: center;
  }
  footer nav {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  footer nav ul {
    grid-auto-flow: column;
    grid-column-gap: 0;
  }
  footer nav ul li {
    display: block;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 1;
    padding-left: 6px;
    padding-right: 6px;
  }
  footer nav ul li:not(:last-of-type) {
    border-right: 1px solid #7c7e7f;
  }
}

body {
  align-items: center;
  background-color: #7c7e7f;
  color: #000000;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", "Neue Haas Grotesk", "Helvetica Neue", "Helvetica", "Nimbus Sans", "Nimbus Sans L", "Arial", sans-serif;
  font-size: smaller;
  line-height: 1.2;
  margin: 0;
}

p {
  margin-bottom: 0;
  margin-top: 12px;
}

p.environment {
  color: #7c7e7f;
  font-weight: bold;
  margin: 0;
  opacity: .75;
  padding: 0;
  pointer-events: none;
  position: fixed;
  right: 3px;
  top: 3px;
  touch-action: none;
  z-index: 999;
}

h3 {
  font-size: 1em;
}

img.ucop-logo {
  height: 60px;
}

img.merritt-logo {
  height: 30px;
}

ul {
  padding: 0;
}

nav ul {
  display: grid;
  list-style-type: none;
}

header {
  align-items: center;
  background: linear-gradient(#d8d8d9, #e4e4e4);
  display: grid;
  width: 100%;
}

header div.masthead {
  align-items: center;
  display: flex;
}

header nav a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
  width: 100%;
}

header nav a:hover {
  text-decoration: underline;
}

header nav ul {
  margin: 0;
}

header nav ul li {
  border: 0;
  font-weight: bold;
}

header nav ul li a:hover {
  text-decoration: none;
}

header nav ul li.dropdown ul li {
  font-weight: normal;
}

header nav.login ul {
  background-color: #f28d1e;
  border-radius: 6px;
  height: 30px;
}

header nav.login ul li {
  font-weight: bold;
}

section {
  background-color: #f2f2f2;
}

footer {
  background: #d8d8d9;
  width: 100%;
}
