/* 
    Document   : main_styles
    Created on : Aug 9, 2010, 10:06:19 AM
    Author     : sfisher
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/* Overall styles */
root { 
    display: block;
}

body {
  background-color: #e8eef7;
  font-family: Tahoma, Helvetica, Arial, sans-serif;
  font-size:100%;
}

.container_16 {
  background-color: #ffffff;
}

/* section styles */

.head_left {
    text-align: left;
}

.head_right {
    text-align: right;
}

.foot_full {
    text-align: center;
    font-size: 80%;
}


/* subsection styles */
.foot_full hr {
    margin: 10px 0px 6px 0px;
    padding: 0px 0px 0px 0px;
}


/* text styles */
.caption {
    font-size: 80%;
    font-style: italic;
}

.dynamic_message {
    font-style: bold;
    color: #bb0000;
    font-size: 110%;
}

h1 {
    display: block;
    font-size: 140%;
}

h2 {
    display: block;
    font-size: 120%;
    margin-bottom: 0.5em;
}

h3 {
    display: block;
    width: 100%;
    font-size:90%;
    border-bottom-color: #cccccc;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.sidebar p{
    font-size: 90%;
    padding-top: 1em;
}

.breadcrumbs {
    font-size: 85%;
}

/* form styles */
div.left_label {
  margin-top: 0.25em;
  margin-bottom:0.25em;
  margin-right:0.5em;
  display: block;
  clear: left;
  float:left;
  width: 150px;
  text-align: right;
}

div.right_field {
  margin-top: 0.25em;
  margin-bottom:0.25em;
  display: block;
  float: left;
  width: 250px;
  text-align: left;
}


/* table styles */
table{
    border-collapse:collapse;
}

table, th, td {
    border: 1px solid #cccccc;
}

th {
    text-align: center;
    vertical-align: top;
    font-weight: bold;
    font-size: 90%;
    background-color: #0077dd;
    color: #ffffff;
    padding: 5px 15px 5px 15px;
}

tr.even, tr.even td {
    background-color: #ffffff;
}

tr.odd, tr.odd td {
    background-color: #88ccff;
}

td {
    text-align: left;
    vertical-align: top;
    padding: 5px;
}