<div class="clear"></div>
<div class="grid_16 foot_full">
  <hr/>
  The Merritt repository is a service of the University of California Curation Center<br/>
  Copyright (c) 2009-<%=Time.new.year%> The Regents of the University of California
</div>
<div class="clear"></div>
