<div class="clear"></div>
<div class="grid_16 foot_full">
  <hr/>
  Merritt is a service of the <a href="http://www.cdlib.org/services/uc3">University of California Curation Center</a> of the <a href="http://cdlib.org/">California Digital Library</a><br/>
  Copyright &copy; 2009-<%=Time.new.year%> The Regents of the University of California
</div>
<div class="clear"></div>
