<div class="grid_10 head_left">
  <%=image_tag("logos/no_subtitle_head.png")%>
</div>
<div class="grid_6 head_right">
  <% usr = current_user
  if usr then %>
    <%= link_to("Logout", :controller => 'user_sessions', :action => 'logout') %>
  <% else %>
    <%= link_to("Login", :controller => 'user_sessions', :action => 'login') %>
  <% end %> | My Profile | Contact UC3 | Help
  <% if usr then %>
    <br/>Logged in as <%= usr.displayname %>
  <% end %>
</div>
<div class="clear"></div>
<div class="grid_16">&nbsp;</div>
<div class="clear"></div>