<section class="lookup">
<% if group_choosen? %>
  <h3>Object Lookup</h3>
  <%= form_tag({:controller => 'collection', :action => 'search_results'}, :method => :get) do %>
    <%= text_field_tag 'terms', params[:terms] %>
    <%= hidden_field_tag 'group', session[:group_id] %>
    <%= submit_tag('Go') %>

    <p><label for="terms">Search object author, title, date or identifier.</label></p>
  <% end %>
<% end %>
</section>
