  <h3>Object Lookup</h3>
  <%= form_tag({:controller => 'collection', :action => 'search_results'}, :method => :get) do %>
    <%= text_field_tag 'terms', params[:terms] %>
    <%= hidden_field_tag 'group', params[:group] %>
    <%= submit_tag('Go') %>
  <% end %>

  <p>Search object author, title or object id. See <a href="#">search options</a></p>