  <h3>Object Lookup</h3>
  <% form_tag({:controller => 'search', :action => 'all'}, :method => :get) do %>
    <%= text_field_tag 'terms' %>
    <%= submit_tag('Go') %>
  <% end %>

  <p>Search object author, title or object id. See <a href="#">search options</a></p>