<div class="grid_12 head_left">
  <%=image_tag("logos/subtitle_head.png")%>
</div>
<div class="grid_4 head_right">
  <%= link_to("Login", :controller => 'user_sessions', :action => 'login') %> | Contact UC3
</div>
<div class="clear"></div>
<div class="grid_16">&nbsp;</div>
<div class="clear"></div>
