<% content_for :title do %>
  UC3 Merritt: Choose Collection
<% end %>

<main id="maincontent">
  <section>
    <h2>Welcome</h2>

    <p>
      The collections you have access to are listed below. Choose a
      collection to search, display, download and (if authorized) add
      objects. The guides at the right are accessible from the
      <strong><a href="https://github.com/CDLUC3/mrt-doc/wiki/User-documentation">Help</a></strong>
      link available on any page. Please contact UC3 support if you
      encounter any questions or issues as you use Merritt. You can email
      <a href="mailto:uc3@ucop.edu">uc3@ucop.edu</a> or use the
      <strong><a href="https://www.cdlib.org/services/uc3/contact.html">Contact</a></strong> link on any page.
    </p>

    <h3>Collections</h3>

    <table class="main">
      <thead>
      <tr>
        <th style="width: 60%;">Collection</th>
        <th style="width: 20%;">Permissions</th>
      </tr>
      </thead>
      <tbody>
      <% available_groups.each do |grp| %>
        <tr>
          <th><%= link_to(grp[:description],
                          :controller => :collection,
                          :action => :index,
                          :group => grp[:id]) %></th>
          <td><%= permissions(grp[:user_permissions]) %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </section>

  <aside>
    <%= render :partial => 'shared/help_sidebar' %>
  </aside>

</main>
