<% content_for :title do %>
  Image Credits
<% end %>

<div class="grid_16">
  <h2>Image Credits</h2>

  <p>The images on the Merritt home page are drawn from deposits in
    the California Digital Library's preservation repository, and are
    publicly accessible from <a href="http://www.calisphere.universityofcalifornia.edu/">Calisphere</a>.</p>

  <p><%= image_tag("merritt_home.jpg", :class =>"centered") %></p>
  <ul> 
    <li><a href="http://www.oac.cdlib.org/ark:/13030/kt9g5028qh/" target="_blank">Map
      of Oakland and Alameda.</a> (Oakland Public Library)</li> 
    <li><a href="http://www.oac.cdlib.org/ark:/13030/tf5x0nb138/" target="_blank">Oakland
      City Skyline from Merrit Park</a> by Henry Sugimoto (Japanese
      American National Museum (Los Angeles, Calif.))</li> 
    <li><a href="http://www.oac.cdlib.org/ark:/13030/kt7v19r1bs/" target="_blank">Oakland
      city skyline from Lake Shore Ave</a>. (Oakland Public Library)</li> 
  </ul>
</div>



