<div class="grid_10">
  <p>This is the welcome screen to Merritt.  It describes what the service does,
  who can use it and how to contact us.  Text about the Micro-Services approach
  behind the service?</p>

  <ul>
    <li>Merritt User Guide</li>
    <li>Learn more about the Micro-Services</li>
    <li>Contact UC3 for furhter information</li>
  </ul>
</div>
<div class="grid_6">
  <%=image_tag("photos/fid4.jpg")%>
  <p class="caption">This is some placeholder text which explains why this image is significant
  and how wonderful it is to have it in our repository.</p>
</div>
