<div class="grid_12">
  <%= render :partial => '/shared/flash_show' %>
  <p>This is the welcome screen to Merritt.  It describes what the service does,
  who can use it and how to contact us.  Text about the Micro-Services approach
  behind the service?</p>

  <ul>
    <li>Merritt User Guide</li>
    <li>Learn more about the Micro-Services</li>
    <li><a href="http://www.cdlib.org/services/uc3/contact.html">Contact UC3</a> for further information</li>
  </ul>
  
 <p>Some image options:</p> 
 
 <%=image_tag("logos/merritt5.jpg")%>
</div>
<div class="grid_4">
  <%=image_tag("logos/merritt2.jpg")%>
  <p class="caption"><a href="http://www.oac.cdlib.org/ark:/13030/kt7v19r1bs/" target="_blank">Oakland city skyline from Lake Shore Ave</a>. and <a href="http://www.oac.cdlib.org/ark:/13030/kt9g5028qh/?query=oakland map&brand=calisphere" target="_blank">Map of Oakland and Alameda</a>.<br />
    Contributing Institution:Oakland Public Library.</p>
</div>
