<% content_for(:title) do %>
  UC3 Merritt Home
<% end %>

<% content_for(:extra_head) do %>
<!-- Merritt monitoring test code. Please do not remove this comment since
it will cause the monitoring scripts to fail.

 - served at <%= Time.new %>

 - monitoring string SwuV4tac

-->
<% end %>

<div class="home">
  <main class="home">
    <section class="intro">
      <section>
        <h1>
          <img class="merritt-logo" src="images/logos/merritt-logo.svg" alt="Merritt"
               title="Merritt"/>
        </h1>
        <h2>A trusted, cost-effective digital preservation repository</h2>
        <p>
          Merritt is an open-source digital preservation repository maintained by the University of
          California Curation Center (UC3) at the California Digital Library (CDL).
        </p>
        <p>
          Merritt is designed for both restricted access (also known as "dark archive") and open
          public access digital content. Merritt provides multiple methods for deposit, supports multiple
          metadata formats, and provides preservation functions and reporting both during submission
          and while content resides in the repository.
        </p>
        <p>
          Merritt is available to all members of the University of California community to assist in
          managing, archiving, and/or sharing digital content.
        </p>
      </section>

      <aside>
        <h3>
          Merritt’s preservation repository ensures:
        </h3>
        <ul>
          <li>
            Long-term preservation assurance for your digital content
          </li>
          <li>
            One system for both dark archival and retrieval copies of your digital assets
          </li>
          <li>
            Low-cost, high-quality option for meeting data sharing and preservation requirements of
            grant-funded projects
          </li>
        </ul>
      </aside>
    </section>

    <section class="feature">
      <h2>Learn More</h2>
      <p>
        Merritt can help you manage, preserve, and provide access to your digital content. Read more
        information about how Merritt works:
      </p>
      <ul>
        <li><a href="https://merritt.cdlib.org/docs/merritt_user_guide.pdf">User Guide</a></li>
        <li><a href="https://github.com/CDLUC3/mrt-doc/wiki/User-documentation">Help Center</a></li>
        <li><a href="https://github.com/CDLUC3/mrt-doc/wiki/Technical-Documentation">Technical
          Documentation</a></li>
      </ul>
    </section>

    <section class="feature">
      <h2>Request Account</h2>
      <p>
        Merritt is available for use by libraries, archives, museums, academic departments,
        laboratories, and other organizational units of the University of California.
      </p>
      <ul>
        <li><a href="https://www.cdlib.org/services/uc3/contact.html">Contact us for an account</a>.
        </li>
      </ul>
    </section>

    <section class="feature">
      <h2>Trusted Repository</h2>
      <a href="https://www.coretrustseal.org/wp-content/uploads/2018/08/UC3-Merritt.pdf">
        <img class="cts-logo" src="images/logos/cts-logo.svg" alt="CoreTrustSeal" title="CoreTrustSeal"/>
      </a>
      <p>Merritt is a CoreTrustSeal-certified digital repository.</p>
      <ul>
        <li><a href="https://www.coretrustseal.org/about/">Learn more about CoreTrustSeal
          certification</a>.
        </li>
      </ul>
    </section>

    <section class="related-services">
      <h2>Related CDL Services</h2>

      <p>
        Merritt serves as the preservation repository for many library and archival projects across
        the University of California. In addition, Merritt is also the back-end preservation
        repository for a number of services across UC, including those offered by the
        <a href="https://www.cdlib.org/">California Digital Library</a> and the
        <a href="https://www.cdlib.org/uc3/">UC Curation Center</a>.
      </p>

      <ul>
        <li>
          <a href="https://www.cdlib.org/uc3/"><img class="service-logo"
                                                    src="images/logos/uc3-logo.svg"
                                                    alt="UC Curation Center"
                                                    title="UC Curation Center"/></a>
        </li>
        <li>
          <a href="https://calisphere.org/"><img class="service-logo"
                                                 src="images/logos/calisphere-logo.svg"
                                                 alt="Calisphere" title="Calisphere"/></a>
        </li>
        <li>
          <a href="https://www.cdlib.org/"><img class="service-logo" src="images/logos/cdl-logo.svg"
                                                alt="California Digital Library"
                                                title="California Digital Library"/></a>
        </li>
        <li>
          <a href="https://ezid.cdlib.org/"><img class="service-logo" src="images/logos/ezid-logo.svg"
                                                 alt="EZID"
                                                 title="EZID"></a>
        </li>
        <li>
          <a href="https://dash.ucop.edu/"><img class="service-logo" src="images/logos/dash-logo.svg"
                                                alt="Dash"
                                                title="Dash"></a>
        </li>
        <li>
          <a href="https://escholarship.org/"><img class="service-logo"
                                                   src="images/logos/escholarship-logo.svg"
                                                   alt="eScholarship" title="eScholarship"></a>
        </li>
      </ul>
    </section>
  </main>
</div>
