<% content_for(:title) do %>
  Merritt State
<% end %>

  <main class="home" id="maincontent">
    <h1 class="state"><%= APP_VERSION %></h1>
    <h2 class="state"><%= MrtDashboard::START_TIME.strftime("%Y-%m-%dT%H:%M:%S%z") %></h2>
  </main>
</div>
