# Application defaults
def: &def
  # maximum byte size threshold for download of object/versions without compression
  max_archive_size: 1073741824  # maximum byte size threshold for any download whatsoever
  max_download_size: 214748364800  # 200 GiB
  dua_email_from: no-reply-merritt@ucop.edu
  mrt_dua_file: producer/mrt-dua.txt
  get_storage_key_file: "/api/get-storage-key-file"
  proto_force: ""
  redirects:
    ucsc_lib_hollzahawi_content: "http://www.holl-lab.com/islas-project.html"

ssm: &ssmdef
  ingest_service:        "{!SSM: colladmin/ingest-service}poster/submit/"
  ingest_service_update: "{!SSM: colladmin/ingest-service}poster/update/"
  uri_1:                 "{!SSM: colladmin/access-service}/content/"
  uri_2:                 "{!SSM: colladmin/access-service}/producer/"
  uri_3:                 "{!SSM: colladmin/access-service}/manifest/"
  storage_presign_file:  "{!SSM: colladmin/access-service}/presign-file/"
  storage_presign_obj:   "{!SSM: colladmin/access-service}/assemble-obj/"
  storage_presign_token: "{!SSM: colladmin/access-service}/presign-obj-by-token/"
  upload-limit:          "{!SSM: ui/upload-limit}"
  upload-limit-message:  "{!SSM: ui/upload-limit-message}"

# Merritt Stage settings
stage: &stage
  <<: *def
  <<: *ssmdef
  dua_email_to:         [marisa.strong@ucop.edu, eric.lopatin@ucop.edu]
  merritt_server:       "http://merritt-stage.cdlib.org"
  n2t_uri:              "http://n2t.net/"
  proto_force:          "https"
  global_search_owners:
    'UCB Library': "{!SSM: ui/global-search/ucb}"

# Merritt Prod settings
production:
  <<: *def
  <<: *ssmdef
  dua_email_to:         [uc3@ucop.edu]
  merritt_server:       "http://merritt.cdlib.org"
  n2t_uri:              "http://n2t.net/"
  proto_force:          "https"
  global_search_owners:
    'UCB Library': "{!SSM: ui/global-search/ucb}"

# RSpec Test Configuration - External Service Calls are Mocked
test:
  <<: *def
  max_archive_size:  999999  # 999999 bytes ~= 976.6 KiB
  max_download_size: 104857600  # 10485760 bytes = 10 MiB
  # Marisa is coded into rspec tests
  dua_email_to: [marisa.strong@ucop.edu]
  merritt_server: "http://{!ENV: MRT_DOCKER_HOST !DEFAULT: localhost}:8086"
  # cloudcontainer is obsolete functionality to support large object (email) downloads
  n2t_uri: "http://n2t-wf.cdlib.org/"
  # Note that the following service is no longer available
  uri_1: "http://store.merritt.example.edu/content/"
  uri_2: "http://store.merritt.example.edu/producer/"
  uri_3: "http://store.merritt.example.edu/manifest/"
  ingest_service: "http://ingest.merritt.example.edu/poster/submit/"
  ingest_service_update: "http://ingest.merritt.example.edu/poster/update/"
  storage_presign_file: "http://store.merritt.example.edu/presign-file/"
  storage_presign_obj: "http://store.merritt.example.edu/assemble-obj/"
  storage_presign_token: "http://store.merritt.example.edu/presign-obj-by-token/"
  redirects:
    mock_profile: "http://cdlib.org"
  global_search_owners:
    'UCB Library': merritt-test

# Docker configuration defaults
dockerdef: &dockerdef
  <<: *def
  max_archive_size:  10000000  # 9999 bytes ~= 99 KiB
  max_download_size: 20000000  # 1048576 bytes = 1 MiB
  # Marisa is coded into rspec tests
  dua_email_to:         [marisa.strong@ucop.edu]
  merritt_server:       "http://{!ENV: MRT_DOCKER_HOST !DEFAULT: localhost}:8086"
  # cloudcontainer is obsolete functionality to support large object (email) downloads
  n2t_uri:              "http://n2t-wf.cdlib.org/"
  # Note that the following service is no longer available
  ingest_service:       "http://ingest:8080/ingest/poster/submit/"
  ingest_service_update: "http://ingest:8080/ingest/poster/update/"
  uri_1:                "http://store:8080/store/content/"
  uri_2:                "http://store:8080/store/producer/"
  uri_3:                "http://store:8080/store/manifest/"
  storage_presign_file: "http://store:8080/store/presign-file/"
  storage_presign_obj:  "http://store:8080/store/assemble-obj/"
  storage_presign_token: "http://store:8080/store/presign-obj-by-token/"
  redirects:
    escholarship_content: "http://cdlib.org"
  upload-limit:          "{!ENV: MRT_UPLOAD_LIMIT !DEFAULT: 1000000}"
  upload-limit-message:  "{!ENV: MRT_UPLOAD_LIMIT_MSG !DEFAULT: 1 MB}"

docker:
  <<: *dockerdef
  global_search_owners:
    "UC3 Merritt administrator": merritt-test

# local and development are currently identical utilizing only resources defined in docker volumes
# eventually, the "development" stack will run on ec2 with access to RDS and cloud storage
local:
  <<: *dockerdef
  global_search_owners:
    "UC3 Merritt administrator": merritt-test

development:
  <<: *dockerdef
  global_search_owners: 
    'UCB Library': "{!SSM: ui/global-search/ucb}"

ecs:
  <<: *dockerdef
  global_search_owners:
    "UC3 Merritt administrator": merritt-test

# TODO: rename uri_[1-3] to [content, producer, manifest]_uri or similar
