development:
  admin_password: XXXXXXXX
  admin_user:     cn=Directory Manager
  group_base:     ou=mrt-classes,ou=uc3,dc=cdlib,dc=org
  host:           uc3-ldap-dev.cdlib.org
  port:           1636
  user_base:      ou=People,ou=uc3,dc=cdlib,dc=org
  inst_base:      o=institutions,ou=uc3,dc=cdlib,dc=org
  ark_minter_url: http://noid.cdlib.org/nd/noidu_p9
  guest_password: guest
  guest_user:     anonymous
  connect_timeout:      60

development_nonlocal:
  development

# Tests shouldn't actually talk to LDAP
test:
  admin_user:     cn=Directory Manager
  group_base:     ou=mrt-classes,ou=uc3,dc=cdlib,dc=org
  host:           ldap.example.org
  port:           1636
  user_base:      ou=People,ou=uc3,dc=cdlib,dc=org
  inst_base:      o=institutions,ou=uc3,dc=cdlib,dc=org
  ark_minter_url: http://noid.cdlib.org/nd/noidu_p9
  guest_password: guest
  guest_user:     anonymous
  connect_timeout:	60

stage:
  admin_password: XXXXXXXX
  admin_user:     cn=Directory Manager
  group_base:     ou=mrt-classes,ou=uc3,dc=cdlib,dc=org
  host:           uc3-ldap-stg.cdlib.org
  port:           1636
  user_base:      ou=People,ou=uc3,dc=cdlib,dc=org
  inst_base:      o=institutions,ou=uc3,dc=cdlib,dc=org
  ark_minter_url: http://noid.cdlib.org/nd/noidu_p9
  guest_password: guest
  guest_user:     anonymous
  connect_timeout:      60

production:
  admin_password: XXXXXXXX
  admin_user:     cn=Directory Manager
  group_base:     ou=mrt-classes,ou=uc3,dc=cdlib,dc=org
  host:           uc3-ldap.cdlib.org
  port:           1636
  user_base:      ou=People,ou=uc3,dc=cdlib,dc=org
  inst_base:      o=institutions,ou=uc3,dc=cdlib,dc=org
  ark_minter_url: http://noid.cdlib.org/nd/noidu_p9
  guest_password: guest
  guest_user:     anonymous
  connect_timeout:	60

production_development:
  production
