<h3>Overview</h3>

<div class="key">object count:</div>
<div class="value">24,653</div>
<div class="clear"></div>
<div class="key">version count:</div>
<div class="value">26,922</div>
<div class="clear"></div>
<div class="key">file count:</div>
<div class="value">57,154</div>
<div class="clear"></div>
<div class="key">total size:</div>
<div class="value">1.2 TB</div>
<div class="clear"></div>
