<h3>Overview</h3>

<div class="key">object count:</div>
<div class="value"><%=formatted_int(@object_count)%></div>
<div class="clear"></div>
<div class="key">version count:</div>
<div class="value"><%=formatted_int(@version_count)%></div>
<div class="clear"></div>
<div class="key">file count:</div>
<div class="value"><%=formatted_int(@file_count)%></div>
<div class="clear"></div>
<div class="key">total size:</div>
<div class="value"><%=number_to_storage_size(@total_size)%></div>
<div class="clear"></div>
