<div class="grid_12">
  <h2>Collection: <%= @group.description %></h2>
  <div class="breadcrumbs"><%=raw crumb_path(['merritt'])%>Collection: <%= @group.description %></div>
</div>
<div class="grid_4 sidebar">
  <%= render :partial => '/shared/side_lookup' %>
  
  <h3 style="color:#cc0000;">Alert</h3>
</div>

