<div class="grid_12">
  <h2>Search Results</h2>
  <div class="breadcrumbs"><%= link_to('Merritt', :controller => 'home', :action => 'index') %> &gt;
    <%= link_to("Collection: #{@group.description}", :controller => 'collection', :action => 'index', :group => params[:group]) %>
    &gt; Search Results
  </div>
  <br/>
    <table>
    <thead>
      <tr>
        <th style="width: 30%;">Primary Id</th>
        <th style="width: 70%;">Object info</th>
      </tr>
    </thead>
    <tbody>
      <%= render :partial => "/object/table_row", :collection => @results %>
    </tbody>
  </table>
</div>
<div class="grid_4 sidebar">
  <%= render :partial => '/shared/side_lookup' %>
</div>

