<% #pass in 'version' and 'files' as local variables %>
<h3>Current Version</h3>

<%= render :partial => '/version/line_sidebar', :collection => [version] %>

<ul>
  <%= render :partial => '/file/line_sidebar', :collection => files %>
</ul>

31 more files
