<% #pass in 'version' as local variable %>

<h3>Current Version</h3>
<%= render :partial => '/version/line_sidebar', :collection => [version] %>

<% files = version.producer_files %>
<% show_only = 4 %>

<ul>
  <%= render :partial => '/file/line_sidebar', 
             :collection => files[0..(show_only-1)],
             :locals => {:version => version} %>
</ul>

<% if (files.length > show_only) then%>
  <%= link_to "#{(files.length - show_only)} more files",
              :controller     => :version,
              :action         => :index,
              :object         => @object.ark_urlencode,
              :version        => version.identifier %>
<% end %>
