<% #pass in 'version' and 'files' as local variables %>
<h3>Current Version</h3>

<%= render :partial => '/version/line_sidebar', :collection => [version] %>

<% trunc_files = (files.length > 4 ? files[0..3] : files) %>

<ul>
  <%= render :partial => '/file/line_sidebar', :collection => trunc_files,
            :locals => {:version => version} %>
</ul>

<% if files.length > trunc_files.length then%>
  <%= link_to "#{files.length - trunc_files.length} more files",
              :controller     => :version,
              :action         => :index,
              :group          => params[:group],
              :object         => params[:object],
              :version        => version[RDF::DC.identifier].to_s %>
<% end %>
