<section>
<h3>Current Version</h3>

<% version = current_sidebar %>
<% files = version.producer_files.quickload_files %>
<% show_only = 4 %>
<% can_download = current_user_can_download?(version.inv_object) %>
<%= render :partial => '/version/line_sidebar', :collection => [version],
           :locals => {:can_download => can_download} %>
<ul>
  <%= render :partial => '/file/line_sidebar', :collection => files.limit(show_only),
             :locals => {:can_download => can_download} %>
</ul>
<% if (files.count(:pathname) > show_only) then%>
  <%= link_to "#{(files.count(:pathname) - show_only)} more files",
              :controller     => :version,
              :action         => :index,
              :object         => version.inv_object,
              :version        => version %>
<% end %>
</section>
