<div class="files">
  <% files.each do |file| %>
    <div class="key">
      <% if have_permission('download') then %>
        <%= link_to(File.basename(file.pathname), 
                    :controller => :file, 
                    :action => :display,
                    :object => file.inv_object,
                    :version => file.inv_version,
                    :file => file) %>
      <% else %>
        <%= File.basename(file.pathname) %>
      <% end %>
    </div>
    <div class="value">
      <%= file.mime_type.gsub(/;.*$/, '') %>          
      <%= number_to_storage_size(file.full_size) %>
    </div>
  <% end %>
</div>
<div class="clear"></div>
