table.merritt_downloads, div.merritt_downloads {
  width: 100%;
}
table.merritt_downloads th, table.merritt_downloads td {
  border: solid thin black;
  padding: 2px;
}
table.merritt_downloads thead th, table.merritt_downloads thead td {
  background-color: orange;
}

#download_wrap {
  border: thin solid black;
  padding: 0px 10px 20px 10px;
}

#progressbar {
  margin-top: 20px;
  width: 100%;
}

.progress-label {
  font-weight: bold;
  font-style: italic;
  text-shadow: 1px 1px 0 #fff;
}

#assemble-message a {
  color: blue;
  margin-top: 10px;
}

div.assemble-ark {
  font-style: italic;
}

span.presign-title {
  font-style: italic;
}
