#download_wrap {
  border: thin solid black;
  padding: 0px 10px 20px 10px;
}

#progressbar {
  margin-top: 20px;
  width: 100%;
  color: navy;
  height: 4px;
}

.progress-label {
  font-weight: bold;
  font-style: italic;
  text-shadow: 1px 1px 0 #fff;
  text-align: center;
  color: black;
}

#assemble-message a {
  color: blue;
  margin-top: 10px;
}

div.assemble-ark {
  font-style: italic;
}

span.presign-title {
  font-style: italic;
}

li#downloads {
  padding: 0.2em .5em;
  border: 3px solid #FFFFFF;
  border-radius: 10px;
  margin-right:30px;
  margin-bottom: 5px;
  background-color: #77913B;
}

li#downloads:hover {
  background-color: #F28D1E;
}

div.download-in-progress div.ui-dialog-buttonset {
  display: flex;
  justify-content: space-between;
  float: none!important;
}

.h-title {
  font-size: 1.3em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
